Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

azure-pipelines-designer.yml:
  stages:
  - stage: build
    jobs:
    - job: install_and_build
      displayName: install and build
      pool:
        vmImage: Ubuntu 16.04
      steps:
      - task: DeleteFiles@1
        displayName: Cleanup JUnit files
        inputs:
          SourceFolder: ./junit
          Contents: TEST*.xml
      - task: Npm@1
  ...

azure-pipelines.yml:
  pool:
    vmImage: Ubuntu 16.04
  container: microsoft/dotnet:2.2-sdk
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: build
      arguments: --configuration $(buildConfiguration)
  - task: DotNetCoreCLI@2
    displayName: Unit test the mock server
    inputs:
      command: test
  ...

Remove unused var
  src/Orbital.Mock.Server/Models/MockResponse.cs
Due: azure-pipelines.yml

UI updates to represent multiple files.
  src/orbital-designer/src/app/components/home-view/home-view.component.html
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.html
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.html
Due: azure-pipelines-designer.yml

Merged PR 738: Clear import-from-server left-hand side if url is invalid
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Fix server hang on missing sub-property on templated response
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
Due: azure-pipelines.yml

Simplify expression catch
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
Due: azure-pipelines.yml

Merged PR 740: Redirect to homepage when logo is clicked
  src/orbital-designer/src/app/app.component.html
Due: azure-pipelines-designer.yml

Merged PR 742: Make all error messages red
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.html
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.scss
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
  src/orbital-designer/src/app/components/export-to-server-view/export-to-server-view.component.html
  src/orbital-designer/src/app/components/export-to-server-view/export-to-server-view.component.scss
  src/orbital-designer/src/app/components/export-to-server-view/export-to-server-view.component.ts
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.html
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.scss
  src/orbital-designer/src/app/components/orbital-common/quick-export/quick-export.component.html
  src/orbital-designer/src/app/components/orbital-common/quick-export/quick-export.component.scss
  src/orbital-designer/src/app/components/orbital-common/quick-export/quick-export.component.ts
Due: azure-pipelines-designer.yml

Update validated file message to properly appear. It is an error so red.
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.html
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.ts
Due: azure-pipelines-designer.yml

Updated styles
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.html
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.scss
Due: azure-pipelines-designer.yml

Importing multiple mockdefinition files feature into master branch
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.html
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.html
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.html
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.scss
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.ts
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.html
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.scss
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.ts
Due: azure-pipelines-designer.yml

Merged PR 748: Fix bug: unchecking default scenario will re-check after exiting scenario-editor
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.html
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.ts
Due: azure-pipelines-designer.yml

Merged PR 751: Fix all scenarios scoring zero not activating default scenario bug
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
  tests/Orbital.Mock.IntegrationTests/CommonData.cs
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionDefaultResponseTieBreaker.json
  tests/Orbital.Mock.IntegrationTests/Orbital.Mock.IntegrationTests.csproj
  tests/Orbital.Mock.IntegrationTests/Pipeline/DefaultScenarioMatch/DefaultScenarioTieBreakerMatchFixture.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/DefaultScenarioMatch/DefaultScenarioTieBreakerMatchScenario.cs
Due: azure-pipelines.yml

Merged PR 752: Fix bug: make choose files button plural if multiples are allowed
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.html
Due: azure-pipelines-designer.yml

Adding storybook, about to upgrade stuff
  src/orbital-designer/.storybook/main.js
  src/orbital-designer/.storybook/preview.js
  src/orbital-designer/.storybook/tsconfig.json
  src/orbital-designer/.storybook/typings.d.ts
  src/orbital-designer/documentation.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/core/core.module.ts
  src/orbital-designer/src/app/shared/shared.module.ts
  src/orbital-designer/src/stories/Button.stories.ts
  src/orbital-designer/src/stories/Header.stories.ts
  src/orbital-designer/src/stories/Introduction.stories.mdx
  src/orbital-designer/src/stories/Page.stories.ts
  src/orbital-designer/src/stories/assets/code-brackets.svg
  src/orbital-designer/src/stories/assets/colors.svg
  src/orbital-designer/src/stories/assets/comments.svg
  src/orbital-designer/src/stories/assets/direction.svg
  src/orbital-designer/src/stories/assets/flow.svg
  src/orbital-designer/src/stories/assets/plugin.svg
  src/orbital-designer/src/stories/assets/repo.svg
  src/orbital-designer/src/stories/assets/stackalt.svg
  src/orbital-designer/src/stories/button.component.ts
  src/orbital-designer/src/stories/button.css
  src/orbital-designer/src/stories/header.component.ts
  src/orbital-designer/src/stories/header.css
  src/orbital-designer/src/stories/page.component.ts
  src/orbital-designer/src/stories/page.css
  src/orbital-designer/tsconfig.app.json
  src/orbital-designer/tsconfig.json
Due: azure-pipelines-designer.yml

removing angular elements. it was way ahead
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

upgrade to latest version of angular 8
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

updgrading to angular 9
  src/orbital-designer/angular.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/components/orbital-common/search-bar/search-bar.component.ts
  src/orbital-designer/src/app/components/orbital-common/shuttle-list/shuttle-sub-list/shuttle-sub-list.component.ts
  src/orbital-designer/src/app/store/designer-store.ts
  src/orbital-designer/tsconfig.app.json
Due: azure-pipelines-designer.yml

upgraded angular material to 9
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.spec.ts
  src/orbital-designer/src/app/components/download-mockdefinitions/download-mockdefinitions.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/orbital-common.module.ts
  src/orbital-designer/src/app/components/orbital-common/quick-export/quick-export.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-list-item-rule-type/body-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-metadata/add-metadata.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-list-item-rule-type/kvp-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add/policy-add.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy/policy.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.ts
  src/orbital-designer/src/app/services/notification-service/notification.service.spec.ts
  src/orbital-designer/src/app/services/notification-service/notification.service.ts
Due: azure-pipelines-designer.yml

Upgrade ngx-logger to max version
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

upgrading to angular 10
  src/orbital-designer/e2e/tsconfig.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/tsconfig.json
  src/orbital-designer/tslint.json
Due: azure-pipelines-designer.yml

upgrading to angular material 10
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Upgrade to angular 11
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Just ran tests after upgrade things look ok
  src/orbital-designer/angular.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/tsconfig.json
Due: azure-pipelines-designer.yml

upgraded to angular 12
  src/orbital-designer/angular.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/environments/environment.ts
  src/orbital-designer/src/polyfills.ts
  src/orbital-designer/src/test.ts
  src/orbital-designer/tsconfig.json
Due: azure-pipelines-designer.yml

finishing the upgrade to angular 12
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/services/openapispecservice/open-api-spec.service.ts
  src/orbital-designer/src/polyfills.ts
  src/orbital-designer/src/styles.scss
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Merged PR 755: Merge feature/json-editor into master
  azure-pipelines.yml
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/styles.scss
Due: azure-pipelines-designer.yml, azure-pipelines.yml

fixing my merge problems
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

fixing build issue for openapi stuff
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
Due: azure-pipelines-designer.yml

Fixing node version on dockerfile and build
  azure-pipelines-pr.yml
  docker/designer/Dockerfile
Due: azure-pipelines.yml

trying to move to cyrpus instead of depricated protractor :
  src/orbital-designer/angular.json
  src/orbital-designer/cypress.json
  src/orbital-designer/cypress/integration/spec.ts
  src/orbital-designer/cypress/plugins/index.ts
  src/orbital-designer/cypress/support/commands.ts
  src/orbital-designer/cypress/support/index.ts
  src/orbital-designer/cypress/tsconfig.json
  src/orbital-designer/e2e/protractor.conf.js
  src/orbital-designer/e2e/src/app.e2e-spec.ts
  src/orbital-designer/e2e/src/app.po.ts
  src/orbital-designer/e2e/tsconfig.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

removing e2 for now
  azure-pipelines-designer.yml
  package-lock.json
  src/orbital-designer/.vscode/launch.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Cleaning up cypress files
  src/orbital-designer/angular.json
  src/orbital-designer/cypress.json
  src/orbital-designer/cypress/integration/spec.ts
  src/orbital-designer/cypress/plugins/index.ts
  src/orbital-designer/cypress/support/commands.ts
  src/orbital-designer/cypress/support/index.ts
  src/orbital-designer/cypress/tsconfig.json
Due: azure-pipelines-designer.yml

Merged PR 763: Add json editor to body match rule
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.ts
  src/orbital-designer/src/app/services/valid-json/valid-json.service.ts
Due: azure-pipelines-designer.yml

Merged PR 767: Moving from karma to jest
  .gitignore
  .vscode/settings.json
  azure-pipelines-designer.yml
  orbital.code-workspace
  src/orbital-designer/.storybook/tsconfig.json
  src/orbital-designer/angular.json
  src/orbital-designer/jest.config.js
  src/orbital-designer/karma-no-spec-no-pass.js
  src/orbital-designer/karma-to-jest.js
  src/orbital-designer/karma.ci.conf.js
  src/orbital-designer/karma.conf.js
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/setup-jest.ts
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.spec.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.spec.ts
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-metadata/add-metadata.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-add-rule/kvp-add-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/services/overview-redirect/overview-redirect.service.spec.ts
  src/orbital-designer/src/app/shared/components/test/blank.component.ts
  src/orbital-designer/src/app/shared/shared.module.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
  src/orbital-designer/src/test.ts
  src/orbital-designer/tsconfig.spec.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Merged PR 772: new json service -> master
  azure-pipelines-pr.yml
  azure-pipelines.yml
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/add-body-rule-builder/add-body-rule.builder.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/json-error-type.ts
  src/orbital-designer/src/app/services/valid-json/valid-json.service.spec.ts
  src/orbital-designer/src/app/services/valid-json/valid-json.service.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml
