Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

azure-pipelines-designer.yml:
  stages:
  - stage: build
    jobs:
    - job: install_and_build
      displayName: install and build
      pool:
        vmImage: Ubuntu 16.04
      steps:
      - task: DeleteFiles@1
        displayName: Cleanup JUnit files
        inputs:
          SourceFolder: ./junit
          Contents: TEST*.xml
      - task: Npm@1
  ...

azure-pipelines.yml:
  pool:
    vmImage: Ubuntu 16.04
  container: microsoft/dotnet:2.2-sdk
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: build
      arguments: --configuration $(buildConfiguration)
  - task: DotNetCoreCLI@2
    displayName: Unit test the mock server
    inputs:
      command: test
  ...

remove duplicate
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

clean unused imports
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

add try/catch
  src/Orbital.Mock.Server/Pipelines/Comparers/JsonComparer.cs
Due: azure-pipelines.yml

Add defaultScenario field
  src/Orbital.Mock.Server/Models/Scenario.cs
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreBaseMockDefinition.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinition.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionBody.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionBodyJsonContains.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionEndpoint.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionHeaders.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionQuery.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionUrl.json
Due: azure-pipelines.yml

Make defaultScenario false by default
  src/Orbital.Mock.Server/Models/Scenario.cs
Due: azure-pipelines.yml

Add defaultScenario attribute to designer
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/scenario.model.ts
  src/orbital-designer/src/app/pipes/get-endpoint-scenarios/get-endpoint-scenarios.pipe.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
  src/orbital-designer/src/app/store/designer-store.ts
  src/orbital-designer/src/test-files/test-mockdefinition-file.mock.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

Add missing defaultScenario in designer
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

Implement defaultScenario in response selector filter
  src/Orbital.Mock.Server/Models/MatchResult.cs
  src/Orbital.Mock.Server/Pipelines/Filters/BodyMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/HeaderMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/QueryMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/UrlMatchFilter.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/ResponseSelectorFilterTests.cs
Due: azure-pipelines.yml

Remove redundant ==true
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
Due: azure-pipelines.yml

Add DefaultScenario tests
  tests/Orbital.Mock.IntegrationTests/CommonData.cs
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionDefaultScenario.json
  tests/Orbital.Mock.IntegrationTests/Orbital.Mock.IntegrationTests.csproj
  tests/Orbital.Mock.IntegrationTests/Pipeline/DefaultScenarioMatch/DefaultScenarioMatchFixture.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/DefaultScenarioMatch/DefaultScenarioMatchScenario.cs
Due: azure-pipelines.yml

Fix defaultScenario chooser
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
Due: azure-pipelines.yml

Rename defaultScenario to emptyScenario
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-list-item-rule-type/kvp-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy/policy.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-form-builder/scenario-form.builder.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.spec.ts
  src/orbital-designer/src/app/models/mock-definition/mock-definition.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/scenario.model.ts
Due: azure-pipelines-designer.yml

Add defaultScenario false to all internal mockdefinitions
  sample_mockdefinition_contract/sample_contract_1.json
  src/orbital-designer/src/app/store/designer-store.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Add ability to set a scenario as default
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.html
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

Add test for cloning a default scenario
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
Due: azure-pipelines-designer.yml

Fix linting error
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.ts
Due: azure-pipelines-designer.yml

Update PetStoreMockDefinitionUrl.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionUrl.json
Due: azure-pipelines.yml

Add defaultScenario field to designer
  src/orbital-designer/src/app/models/mock-definition/scenario/scenario.model.ts
Due: azure-pipelines-designer.yml

Set defaultScenario type to boolean
  src/orbital-designer/src/app/models/mock-definition/scenario/scenario.model.ts
Due: azure-pipelines-designer.yml

Fix URL path test
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionUrl.json
  tests/Orbital.Mock.IntegrationTests/Pipeline/UrlPathMatch/UrlPathMatchFixture.cs
Due: azure-pipelines.yml

Merged PR 681: Merging feature into master
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
  src/orbital-designer/src/app/store/designer-store.ts
Due: azure-pipelines-designer.yml

Retain default scenario status after saving
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
Due: azure-pipelines-designer.yml

Create delete-from-server-view component
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.html
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.scss
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.spec.ts
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Remove unused imports
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Remove designer store test
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.spec.ts
Due: azure-pipelines-designer.yml

Create delete-from-server button in sidebar
  src/orbital-designer/src/app/app-routing.module.ts
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.html
Due: azure-pipelines-designer.yml

Change icon to mat-icon delete
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.html
Due: azure-pipelines-designer.yml

Merged PR 683: Workaround for concurrent Mockdefinitions not saving: lock database while accessing
  src/Orbital.Mock.Server/Commands/MockDefinition/DeleteMockDefinitionByTitleCommand.cs
  src/Orbital.Mock.Server/Commands/MockDefinition/GetAllMockDefinitionsCommand.cs
  src/Orbital.Mock.Server/Commands/MockDefinition/GetMockDefinitionByTitleCommand.cs
  src/Orbital.Mock.Server/Commands/MockDefinition/SaveMockDefinitionCommand.cs
  src/Orbital.Mock.Server/Commands/MockDefinition/UpdateMockDefinitionByTitleCommand.cs
  src/Orbital.Mock.Server/Commands/Pipeline/InvokeSynchronousPipelineCommand.cs
  src/Orbital.Mock.Server/Controllers/OrbitalAdminController.cs
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/DeleteMockDefinitionHandler.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/GetAllMockDefinitionsHandler.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/GetMockDefinitionHandler.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/SaveMockDefinitionHandler.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/UpdateMockDefinitionHandler.cs
  src/Orbital.Mock.Server/Handlers/Pipeline/InvokeSynchronousPipelineHandler.cs
  src/Orbital.Mock.Server/Middleware/ServerRequestMiddleware.cs
  src/Orbital.Mock.Server/Models/CommonData.cs
  src/Orbital.Mock.Server/Pipelines/Models/MessageProcessorInput.cs
  src/Orbital.Mock.Server/Pipelines/Policies/DelayPolicy.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/IResponseSelectorPort.cs
  src/Orbital.Mock.Server/Pipelines/Ports/ProcessMessagePort.cs
  tests/Orbital.Mock.IntegrationTests/OrbitalAdmin/PostMockDefinitionsConcurrently/PostMockDefinitionsConcurrentlyFixture.cs
  tests/Orbital.Mock.IntegrationTests/OrbitalAdmin/PostMockDefinitionsConcurrently/PostMockDefinitionsConcurrentlyScenarios.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/DeleteMockDefinitionHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/GetAllMockDefinitionsHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/GetMockDefinitionByTitleHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/SaveMockDefinitionHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/UpdateMockDefinitionHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/Models/Validators/MockDefinitionValidatorTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/ResponseSelectorFilterTests.cs
  tests/Orbital.Mock.Server.Tests/TestUtils.cs
Due: azure-pipelines.yml

Add confirmation cancel box; delete items in list if they are deleted on server
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.html
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.scss
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Make delete button delete mocks from server
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.html
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
  src/orbital-designer/src/app/services/orbital-admin/orbital-admin.service.ts
Due: azure-pipelines-designer.yml

Make confirmation box correct size
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.html
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.scss
Due: azure-pipelines-designer.yml

Fix linting errors
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
  src/orbital-designer/src/app/services/orbital-admin/orbital-admin.service.ts
Due: azure-pipelines-designer.yml

Add docs to confirmation box
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Clarify mock status variable
  src/orbital-designer/src/app/services/orbital-admin/orbital-admin.service.ts
Due: azure-pipelines-designer.yml

Delete unused deleteResponse method
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Clear form when server url is invalid
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Remove duplicated status messages
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.html
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml
