Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

azure-pipelines-designer.yml:
  stages:
  - stage: build
    jobs:
    - job: install_and_build
      displayName: install and build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Npm@1
        displayName: npm ci
        inputs:
          command: ci
          workingDir: ./src/orbital-designer
      - task: Npm@1
  ...

azure-pipelines.yml:
  pool:
    vmImage: Ubuntu 16.04
  container: microsoft/dotnet:2.2-sdk
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: build
      arguments: --configuration $(buildConfiguration)
  - task: DotNetCoreCLI@2
    displayName: Unit test the mock server
    inputs:
      command: test
  ...

post test added
  tests/Orbital.Mock.Server.Integration.Tests/Controllers/OrbitalAdminControllerTests.cs
Due: azure-pipelines.yml

Added DELETE endpoint integration test
  tests/Orbital.Mock.Server.Integration.Tests/Controllers/OrbitalAdminControllerTests.cs
Due: azure-pipelines.yml

Added libgit2 env var to runtime binaries
  docker/mock/Dockerfile
Due: azure-pipelines.yml

Merged PR 982: 2022.04.12 Release
  docker/mock/Dockerfile
Due: azure-pipelines.yml

Added link to demo project in readme
  README.md
Due: azure-pipelines.yml

Fix type
  README.md
Due: azure-pipelines.yml

Update server port in docker compose
  docker-compose.yml
  docker/designer/Dockerfile
  docker/mock/Dockerfile
Due: azure-pipelines.yml

Updated the docker compose file to pull the built images from docker hub
  docker-compose.yml
Due: azure-pipelines.yml

Added a docker compose file that can be used to build the containers instead of pulling them
  docker-compose.build.yml
Due: azure-pipelines.yml

Package lock updated when running fresh install
  src/orbital-designer/package-lock.json
Due: azure-pipelines-designer.yml

Dependency Updates Phase 1
  src/orbital-designer/README.md
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Dependency Updates Phase 2
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Run prettier after updating
  src/orbital-designer/src/app/shared/components/side-bar/side-bar.component.spec.ts
Due: azure-pipelines-designer.yml

Dependency Updates Phase 3
  src/orbital-designer/documentation.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Setup pipeline boilerplate to call script to push to GAR
  azure-pipelines-master.yml
  orbital.code-workspace
  pipeline_templates/push-to-container-repos.yml
  scripts/docker_prod.sh
  scripts/gar_prod.sh
Due: azure-pipelines.yml

Upgraded Orbital / Mock / Tests to net6.0
  docker/mock/Dockerfile
  src/Orbital.Mock.Definition/.devcontainer/Dockerfile
  src/Orbital.Mock.Definition/.devcontainer/devcontainer.json
  src/Orbital.Mock.Definition/Orbital.Mock.Definition.csproj
  src/Orbital.Mock.Server/.devcontainer/Dockerfile
  src/Orbital.Mock.Server/.devcontainer/devcontainer.json
  src/Orbital.Mock.Server/Orbital.Mock.Server.csproj
  tests/.devcontainer/Dockerfile
  tests/.devcontainer/devcontainer.json
  tests/Orbital.Mock.Definition.Tests/Orbital.Mock.Definition.Tests.csproj
  tests/Orbital.Mock.Server.Integration.Tests/Orbital.Mock.Server.Integration.Tests.csproj
  tests/Orbital.Mock.Server.LongRunningTests/Orbital.Mock.Server.LongRunningTests.csproj
  tests/Orbital.Mock.Server.Tests/Orbital.Mock.Server.Tests.csproj
Due: azure-pipelines.yml

Updating build_and_test_server dotnet version
  pipeline_templates/server-build-and-test.yml
Due: azure-pipelines.yml

Started working on GAR Push - Incomplete
  azure-pipelines-test.yml
  pipeline_templates/push-to-container-repos.yml
  scripts/gar_prod.sh
  src/Orbital.Mock.Server/Orbital.Mock.Server.csproj
  src/Orbital.Mock.Server/Properties/launchSettings.json
  src/Orbital.Mock.Server/Services/PublicKeyService.cs
Due: azure-pipelines.yml

Revert Mediatr upgrade
  src/Orbital.Mock.Server/Orbital.Mock.Server.csproj
Due: azure-pipelines.yml

Updated lock file
  src/orbital-designer/package-lock.json
Due: azure-pipelines-designer.yml

Using develop's package.json & package-lock.json as the source of truth for the merge
  src/orbital-designer/package-lock.json
Due: azure-pipelines-designer.yml

Updated devcontainer nodeversion & package.lock issues with node-notifier&is-wsl
  .devcontainer/devcontainer.json
  src/orbital-designer/package-lock.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Rollback fluentvalidation upgrade
  src/Orbital.Mock.Definition/Orbital.Mock.Definition.csproj
Due: azure-pipelines.yml

Updated public key service to ignore cert errors
  src/Orbital.Mock.Server/.vscode/launch.json
  src/Orbital.Mock.Server/Services/PublicKeyService.cs
Due: azure-pipelines.yml

Updated TokenRuleValidation to check if there are any scenarios before unauthenticating a request
  src/Orbital.Mock.Server/Pipelines/Filters/TokenRequestMatchFilter.cs
  src/Orbital.Mock.Server/Properties/launchSettings.json
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/TokenRequestMatchFilterTests.cs
Due: azure-pipelines.yml

Revert changes to launchsettings
  src/Orbital.Mock.Server/Properties/launchSettings.json
Due: azure-pipelines.yml

Updated devcontainer Node versions to LTS
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .nvmrc
Due: azure-pipelines.yml

Added to gitignore for upgrade list tracking
  src/orbital-designer/.gitignore
Due: azure-pipelines-designer.yml

Updated eslint dev dependencies
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Updated husky
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Updated jasmine tools & linter-staged
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Updated type defs dependencies
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Updated storybook dev dependencies
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Updated babel-loader pkg
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Updated angular-eslint non-breaking packages
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Revert types for faker to resolve pipeline errors
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Updated devcontainer due to Dockerfile refs issues with malformed configs from 3rd party dependencies (Microsoft)
  .devcontainer/devcontainer.json
Due: azure-pipelines.yml

Removed caret to angular packages to match exact version
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Revert to use Dockerfile as src image
  .devcontainer/devcontainer.json
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml
