Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

azure-pipelines-designer.yml:
  stages:
  - stage: build
    jobs:
    - job: install_and_build
      displayName: install and build
      pool:
        vmImage: Ubuntu 16.04
      steps:
      - task: DeleteFiles@1
        displayName: Cleanup JUnit files
        inputs:
          SourceFolder: ./junit
          Contents: TEST*.xml
      - task: Npm@1
  ...

azure-pipelines.yml:
  pool:
    vmImage: Ubuntu 16.04
  container: microsoft/dotnet:2.2-sdk
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: build
      arguments: --configuration $(buildConfiguration)
  - task: DotNetCoreCLI@2
    displayName: Unit test the mock server
    inputs:
      command: test
  ...

Changing Maps to KVPRUles
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.html
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.ts
Due: azure-pipelines-designer.yml

fixing the rest of the tests
  src/Orbital.Mock.Server/Converters/KeyValueConverter.cs
  src/Orbital.Mock.Server/Models/Examples/MockDefinitionsModelExamples.cs
  src/Orbital.Mock.Server/Models/Rules/KeyValuePairRule.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/BodyMatchJsonEquality/BodyMatchJsonContainsFixture.cs
  tests/Orbital.Mock.Server.LongRunningTests/MockServerProcessorCancelTokenTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/HeaderMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/QueryMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
Due: azure-pipelines.yml

add comments to converter
  src/Orbital.Mock.Server/Models/Converters/KeyValueConverter.cs
  src/Orbital.Mock.Server/Models/Converters/OpenApiJsonConverter.cs
  src/Orbital.Mock.Server/Models/Rules/KeyValuePairRule.cs
Due: azure-pipelines.yml

address changes
  src/Orbital.Mock.Server/Models/Rules/KeyValuePairRule.cs
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/BodyMatchJsonEquality/BodyMatchJsonContainsFixture.cs
Due: azure-pipelines.yml

Pushing changes
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.html
Due: azure-pipelines-designer.yml

add unit tests
  tests/Orbital.Mock.Server.Tests/Models/BodyRuleTests.cs
  tests/Orbital.Mock.Server.Tests/Models/KeyValuePairRuleTests.cs
Due: azure-pipelines.yml

change name tests
  tests/Orbital.Mock.Server.Tests/Models/KeyValuePairRuleTests.cs
Due: azure-pipelines.yml

Migrate older maps to KeyValuePairRule
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/response.model.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

address comments
  src/Orbital.Mock.Server/Models/Converters/KeyValueConverter.cs
Due: azure-pipelines.yml

Revert "Migrate older maps to KeyValuePairRule"
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/response.model.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

create assert factory
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
Due: azure-pipelines.yml

add rule type to IMAtchPort and finish factory
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/IMatchPort.cs
Due: azure-pipelines.yml

Added new model for response
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/key-value-pair.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/response.model.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

create missing interface
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Factories/Interfaces/IAssertFactory.cs
Due: azure-pipelines.yml

add factory as a singleton
  src/Orbital.Mock.Server/Startup.cs
Due: azure-pipelines.yml

Partial completion of task; awaiting RuleComparer
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/KeyValueMatchers/Interfaces/IKeyValueMatcher.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/KeyValueMatchers/KeyValuePairMatcher.cs
Due: azure-pipelines.yml

refactor to private method
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
Due: azure-pipelines.yml

End of day push....need to fix tests
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

made private methods more generic
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
Due: azure-pipelines.yml

create tests and modify factory
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Factories/Interfaces/IAssertFactory.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/IQueryMatchPort.cs
  src/Orbital.Mock.Server/Pipelines/Ports/ProcessMessagePort.cs
  tests/Orbital.Mock.Server.Tests/Factories/AssertFactoryTests.cs
Due: azure-pipelines.yml

remove extra space
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
Due: azure-pipelines.yml

remove spaces
  tests/Orbital.Mock.Server.Tests/Factories/AssertFactoryTests.cs
Due: azure-pipelines.yml

change in image
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

fixing tests...
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/pipes/get-endpoint-scenarios/get-endpoint-scenarios.pipe.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
Due: azure-pipelines-designer.yml

returning back to latest
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

change in chrome driver version
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

implement Assert Factory in Query Filter and Mock Server Processor
  src/Orbital.Mock.Server/Pipelines/Filters/QueryMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
  src/Orbital.Mock.Server/Startup.cs
  tests/Orbital.Mock.Server.LongRunningTests/MockServerProcessorCancelTokenTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/QueryMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
Due: azure-pipelines.yml

Updated interface and abstract class
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/Interfaces/IRuleMatcher.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

Fixed tests
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
Due: azure-pipelines-designer.yml

Updated return value and added inheritdoc
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/Interfaces/IRuleMatcher.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

Fixed tests finally
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
Due: azure-pipelines-designer.yml

change rulematcher
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

change query filter
  src/Orbital.Mock.Server/Pipelines/Filters/QueryMatchFilter.cs
Due: azure-pipelines.yml

adjust matcher
  src/Orbital.Mock.Server/Pipelines/Comparers/Matcher.cs
  src/Orbital.Mock.Server/Pipelines/Filters/QueryMatchFilter.cs
Due: azure-pipelines.yml

Convering to key:value
  src/Orbital.Mock.Server/Models/Rules/KeyValuePairRule.cs
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.html
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/key-value-pair-type.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/key-value-pair.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/key-value-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/request-match-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/response.model.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

address changes from discussion with Rabie
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Factories/Interfaces/IAssertFactory.cs
  src/Orbital.Mock.Server/Pipelines/Filters/HeaderMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/QueryMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
  tests/Orbital.Mock.Server.Tests/Models/MatcherTests.cs
Due: azure-pipelines.yml

adjust body match filter
  src/Orbital.Mock.Server/Pipelines/Filters/BodyMatchFilter.cs
Due: azure-pipelines.yml

more changes
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
  src/Orbital.Mock.Server/Startup.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/BodyMatchFilterTest.cs
Due: azure-pipelines.yml

fix tests
  tests/Orbital.Mock.Server.LongRunningTests/MockServerProcessorCancelTokenTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/QueryMatchFilterTests.cs
Due: azure-pipelines.yml

fix more tests
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml
