Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

azure-pipelines-designer.yml:
  stages:
  - stage: build
    jobs:
    - job: install_and_build
      displayName: install and build
      pool:
        vmImage: Ubuntu 16.04
      steps:
      - task: DeleteFiles@1
        displayName: Cleanup JUnit files
        inputs:
          SourceFolder: ./junit
          Contents: TEST*.xml
      - task: Npm@1
  ...

azure-pipelines.yml:
  pool:
    vmImage: Ubuntu 16.04
  container: microsoft/dotnet:2.2-sdk
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: build
      arguments: --configuration $(buildConfiguration)
  - task: DotNetCoreCLI@2
    displayName: Unit test the mock server
    inputs:
      command: test
  ...

Add karma-skipped-tests-reporter package
  src/orbital-designer/karma.ci.conf.js
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

addressing comment
  src/Orbital.Mock.Server/Startup.cs
Due: azure-pipelines.yml

Remove unneeded try/catch all
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
Due: azure-pipelines-designer.yml

Add done() and async modifiers to kvp-* tests
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-list-item-rule-type/kvp-list-item-rule-type.component.spec.ts
Due: azure-pipelines-designer.yml

Fix hammerjs warning: install hammerjs and add includes
  src/orbital-designer/angular.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/polyfills.ts
Due: azure-pipelines-designer.yml

add name functions class and to builtin orbital functions
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
  src/Orbital.Mock.Server/Functions/NameFunctions.cs
Due: azure-pipelines.yml

format
  src/Orbital.Mock.Server/Functions/NameFunctions.cs
Due: azure-pipelines.yml

Wrap navigateByUrl calls in ngZones and fakeAsync and cd; quar. test
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.spec.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.spec.ts
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/services/overview-redirect/overview-redirect.service.spec.ts
Due: azure-pipelines-designer.yml

Fail tests with no expectations
  src/orbital-designer/karma-no-spec-no-pass.js
  src/orbital-designer/karma.ci.conf.js
Due: azure-pipelines-designer.yml

Remove redundant .withRoutes([])
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/download-mockdefinitions/download-mockdefinitions.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.spec.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.spec.ts
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/quick-export/quick-export.component.spec.ts
  src/orbital-designer/src/app/services/overview-redirect/overview-redirect.service.spec.ts
Due: azure-pipelines-designer.yml

Fix route warnings: add route to scenario-view and scenario-editor
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
Due: azure-pipelines-designer.yml

Fix 404 images not found in testing: add proxy to image folder
  src/orbital-designer/karma.ci.conf.js
  src/orbital-designer/karma.conf.js
Due: azure-pipelines-designer.yml

Add ngZone to fix warning for 'should save the scenario if all the fields are valid' test
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
Due: azure-pipelines-designer.yml

Fix duplicate id warning: remove unused id
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.html
Due: azure-pipelines-designer.yml

Fix test bug: increase rand mock name length to prevent conflicts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
Due: azure-pipelines-designer.yml

Merged PR 693: Updated how mockdefinitions are displayed.
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

Prevent duplicates: increase faker word count
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/search-bar/search-bar.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/shuttle-list/shuttle-sub-list/shuttle-sub-list.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-metadata/add-metadata.component.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
Due: azure-pipelines-designer.yml

add address functions class
  src/Orbital.Mock.Server/Functions/AddressFunctions.cs
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
Due: azure-pipelines.yml

Add tick() and fakeAsync to tests that use methods which use this.setState observable
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
Due: azure-pipelines-designer.yml

Add fakeAsync to beforeEaches which modify this.state
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list/endpoint-list.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
Due: azure-pipelines-designer.yml

add DatabaseFunctions class
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
  src/Orbital.Mock.Server/Functions/DatabaseFunctions.cs
Due: azure-pipelines.yml

add ResponseType enum
  src/Orbital.Mock.Server/Models/Examples/MockDefinitionsModelExamples.cs
  src/Orbital.Mock.Server/Models/MockResponse.cs
  src/Orbital.Mock.Server/Models/ResponseType.cs
  src/orbital-designer/src/app/models/mock-definition/scenario/response.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/response.type.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

change to type
  sample_mockdefinition_contract/sample_contract_1.json
  src/Orbital.Mock.Server/Models/Examples/MockDefinitionsModelExamples.cs
  src/Orbital.Mock.Server/Models/MockResponse.cs
Due: azure-pipelines.yml

update test files
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreBaseMockDefinition.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreBaseMockDefinitionBodyJsonPath.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinition.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionBody.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionBodyJsonContains.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionDefaultScenario.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionEndpoint.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionHeaders.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionPolicy.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionQuery.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionUrl.json
Due: azure-pipelines.yml

add type in test files
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/response.model.ts
  src/orbital-designer/src/test-files/test-mockdefinition-file.mock.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

Revert "azure-pipelines-designer.yml"
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

Created the commerce functions for Orbital
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
  src/Orbital.Mock.Server/Functions/CommerceFunctions.cs
Due: azure-pipelines.yml

Create financial functions
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
  src/Orbital.Mock.Server/Functions/FinanceFunctions.cs
Due: azure-pipelines.yml

Update id
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
Due: azure-pipelines.yml

Create hacker functions
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
Due: azure-pipelines.yml

Create hacker class
  src/Orbital.Mock.Server/Functions/HackerFunctions.cs
Due: azure-pipelines.yml

Create imagefunctions class
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
  src/Orbital.Mock.Server/Functions/ImageFunctions.cs
Due: azure-pipelines.yml

Format code
  src/Orbital.Mock.Server/Functions/ImageFunctions.cs
Due: azure-pipelines.yml

Created Date functions for templating.
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
  src/Orbital.Mock.Server/Functions/DateFunctions.cs
Due: azure-pipelines.yml

Remove unused createEmptyScenario function
  src/orbital-designer/src/app/models/mock-definition/scenario/scenario.model.ts
Due: azure-pipelines-designer.yml

Create internetfunctions class
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
  src/Orbital.Mock.Server/Functions/InternetFunctions.cs
Due: azure-pipelines.yml

Create loremfunctions
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
  src/Orbital.Mock.Server/Functions/LoremFunctions.cs
Due: azure-pipelines.yml

Create vehicle functions for templating
  src/Orbital.Mock.Server/Functions/BuiltinOrbitalFunctions.cs
  src/Orbital.Mock.Server/Functions/VehicleFunctions.cs
Due: azure-pipelines.yml

implement parsing in responseselectorfilter
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml
