Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

azure-pipelines-designer.yml:
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - task: DeleteFiles@1
    displayName: Delete JUnit files
    inputs:
      SourceFolder: ./junit
      Contents: TEST*.xml
  - task: Npm@1
    displayName: npm install
    inputs:
      command: install
      workingDir: ./src/orbital-designer
  - task: Npm@1
  ...

azure-pipelines.yml:
  pool:
    vmImage: Ubuntu 16.04
  container: microsoft/dotnet:2.2-sdk
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      arguments: --configuration $(buildConfiguration)
  - task: DotNetCoreCLI@2
    displayName: Unit Testing for Mock Server
    inputs:
      command: test
  ...

Deleted blank lines.
  src/Orbital.Mock.Server/Models/Examples/MockDefinitionsModelExamples.cs
Due: azure-pipelines.yml

Request/Response logging completed
  src/Orbital.Mock.Server/Middleware/LoggingRequestResponseMiddleware.cs
Due: azure-pipelines.yml

merge cleanup
  src/Orbital.Mock.Server/Controllers/OrbitalServerController.cs
Due: azure-pipelines.yml

Modified decorations for OrbitalAdminController so instead of showing the number representation, it shows it description.
  src/Orbital.Mock.Server/Controllers/OrbitalAdminController.cs
Due: azure-pipelines.yml

Deleting reading openApiDocument writer which was now included in the json MockDefinitionModelsExample example.
  src/Orbital.Mock.Server/Registrations/SwaggerRegistration.cs
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Debugged loop and scenario issue
  src/Orbital.Mock.Server/Models/Examples/MockDefinitionsModelExamples.cs
Due: azure-pipelines.yml

uinstalling json packages.
  src/Orbital.Mock.Server/Models/Examples/MockDefinitionsModelExamples.cs
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Installed needed json packages.
  src/orbital-designer/package-lock.json
Due: azure-pipelines-designer.yml

Install font awesome
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

match json files to source
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

added logging for header on response
  src/Orbital.Mock.Server/Middleware/LoggingRequestResponseMiddleware.cs
Due: azure-pipelines.yml

added comments
  src/orbital-designer/src/app/components/edit-scenario/edit-scenario.component.ts
  src/orbital-designer/src/app/components/scenario-overview/scenario-view/scenario-view.component.ts
Due: azure-pipelines-designer.yml

fixed middleware
  src/Orbital.Mock.Server/Middleware/LoggingRequestResponseMiddleware.cs
Due: azure-pipelines.yml

updated admin controller log
  src/Orbital.Mock.Server/Controllers/OrbitalAdminController.cs
Due: azure-pipelines.yml

logging mockdefinition title
  src/Orbital.Mock.Server/Controllers/OrbitalAdminController.cs
Due: azure-pipelines.yml

added logging
  src/Orbital.Mock.Server/Pipelines/Filters/BodyMatchFilter.cs
Due: azure-pipelines.yml

created button and modal for connecting to server
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.html
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

forgot to remove bad test
  src/orbital-designer/src/app/components/edit-scenario/edit-scenario.component.spec.ts
Due: azure-pipelines-designer.yml

end of day push
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

added tests for the onBodyRuleEdit function
  src/orbital-designer/karma.conf.js
  src/orbital-designer/src/app/components/edit-scenario/edit-scenario.component.spec.ts
Due: azure-pipelines-designer.yml

created services file for httpclient
  src/orbital-designer/src/app/services/orbial-server.service.spec.ts
  src/orbital-designer/src/app/services/orbial-server.service.ts
Due: azure-pipelines-designer.yml

Add intermediatery cors bypass
  src/Orbital.Mock.Server/Models/MockResponse.cs
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.html
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Add error-handler template to export-to-server button
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

Add hotfix to close export-to-json modal when successful
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.html
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

Add HttpClientTestingModule to test imports to fix failing tests
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.spec.ts
  src/orbital-designer/src/app/services/orbial-server.service.spec.ts
  src/orbital-designer/src/app/services/orbial-server.service.ts
Due: azure-pipelines-designer.yml

Add server-level CORS allow-all rules and remove conflicting imports in app.module
  src/Orbital.Mock.Server/Startup.cs
  src/orbital-designer/src/app/app.module.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Fix typo (orbial->orbital)
  src/orbital-designer/src/app/services/orbital-server.service.spec.ts
  src/orbital-designer/src/app/services/orbital-server.service.ts
Due: azure-pipelines-designer.yml

Fix all linting errors causing the Azure CI build to fail
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
  src/orbital-designer/src/app/services/orbital-server.service.spec.ts
Due: azure-pipelines-designer.yml

Fix Azure CI warning that HTML is not auto-generated
  azure-pipelines-designer.yml
  src/orbital-designer/src/app/components/edit-scenario/key-value-list/key-value-list.component.spec.ts
Due: azure-pipelines-designer.yml

added integration test project
  Orbital.sln
  tests/Orbital.Mock.Server.IntegrationTests/CommonData.cs
  tests/Orbital.Mock.Server.IntegrationTests/MockDefinitions/PetStoreMockDefinition.json
  tests/Orbital.Mock.Server.IntegrationTests/Orbital.Mock.Server.IntegrationTests.csproj
  tests/Orbital.Mock.Server.IntegrationTests/OrbitalAdmin/GetMockDefinitions/GetMockDefinitionsFixture.cs
  tests/Orbital.Mock.Server.IntegrationTests/OrbitalAdmin/GetMockDefinitions/GetMockDefinitionsScenarios.cs
  tests/Orbital.Mock.Server.IntegrationTests/xunit.runner.json
  tests/Orbital.Mock.Server.Tests/Orbital.Mock.Server.Tests.csproj
Due: azure-pipelines.yml

code cleanup
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

updated config
  Orbital.sln
  tests/Orbital.Mock.IntegrationTests/CommonData.cs
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinition.json
  tests/Orbital.Mock.IntegrationTests/Orbital.Mock.IntegrationTests.csproj
  tests/Orbital.Mock.IntegrationTests/OrbitalAdmin/GetMockDefinitions/GetMockDefinitionsFixture.cs
  tests/Orbital.Mock.IntegrationTests/OrbitalAdmin/GetMockDefinitions/GetMockDefinitionsScenarios.cs
  tests/Orbital.Mock.IntegrationTests/OrbitalIntegrationConfiguration.cs
  tests/Orbital.Mock.IntegrationTests/xunit.runner.json
  tests/Orbital.Mock.Server.IntegrationTests/Orbital.Mock.Server.IntegrationTests.csproj
Due: azure-pipelines.yml

refactor
  tests/Orbital.Mock.IntegrationTests/OrbitalIntegrationConfiguration.cs
Due: azure-pipelines.yml

fixed typo
  tests/Orbital.Mock.IntegrationTests/OrbitalIntegrationConfiguration.cs
Due: azure-pipelines.yml

Allow a task in the pipeline to be cancelled (#770)
  src/Orbital.Mock.Server/Handlers/Pipeline/InvokeSynchronousPipelineHandler.cs
  src/Orbital.Mock.Server/Pipelines/Factories/Bases/BaseBlockFactory.cs
  src/Orbital.Mock.Server/Pipelines/Factories/SyncBlockFactory.cs
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
  src/Orbital.Mock.Server/Pipelines/Models/Interfaces/IPipeline.cs
  src/Orbital.Mock.Server/Pipelines/Models/MessageProcessorInput.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
Due: azure-pipelines.yml

Fix failing tests after CORS is not added to headers when request is invalid
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
Due: azure-pipelines.yml

Revert disabling autogenerated code coverage in Azure
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

Remove duplicate CORS-allow-all headers in MockResponse
  src/Orbital.Mock.Server/Models/MockResponse.cs
Due: azure-pipelines.yml

updated pr
  src/Orbital.Mock.Server/Pipelines/Envelopes/SyncEnvelope.cs
  src/Orbital.Mock.Server/Pipelines/Factories/SyncBlockFactory.cs
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
Due: azure-pipelines.yml

removed unused line
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml
