Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml

more changes to the factory
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Factories/Interfaces/IAssertFactory.cs
  src/Orbital.Mock.Server/Pipelines/Filters/BodyMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/HeaderMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/QueryMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/IBodyMatchPort.cs
  src/Orbital.Mock.Server/Pipelines/Ports/ProcessMessagePort.cs
  tests/Orbital.Mock.Server.Tests/Factories/AssertFactoryTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/HeaderMatchFilterTests.cs
Due: azure-pipelines.yml

adjust matcher for body rules and body match filter
  src/Orbital.Mock.Server/Pipelines/Filters/BodyMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/BodyMatchFilterTest.cs
Due: azure-pipelines.yml

Added helper methods to model
  src/Orbital.Mock.Server/Models/Rules/KeyValuePairRule.cs
  src/orbital-designer/.vscode/launch.json
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.html
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/key-value-index-sig.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/key-value-pair-type.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/key-value-pair.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/key-value-rule.model.ts
  src/orbital-designer/src/app/services/orbital-admin/orbital-admin.service.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Partially fix export-to-server
  src/orbital-designer/src/app/services/orbital-admin/orbital-admin.service.ts
Due: azure-pipelines-designer.yml

changes to assert factory logic
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Pipelines/Filters/HeaderMatchFilter.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/HeaderMatchFilterTests.cs
Due: azure-pipelines.yml

fixing kvp edit component
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.html
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.ts
Due: azure-pipelines-designer.yml

additional logic added to assert factory
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Pipelines/Filters/QueryMatchFilter.cs
Due: azure-pipelines.yml

Fixed Test
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/response.model.ts
  src/orbital-designer/src/app/pipes/get-endpoint-scenarios/get-endpoint-scenarios.pipe.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
Due: azure-pipelines-designer.yml

format document
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
Due: azure-pipelines.yml

update comment
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
Due: azure-pipelines.yml

remove unused class
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Pipelines/Comparers/Matcher.cs
Due: azure-pipelines.yml

fix error
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
Due: azure-pipelines.yml

address comment
  src/Orbital.Mock.Server/Factories/Interfaces/IAssertFactory.cs
Due: azure-pipelines.yml

address changes discussed in meeting
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Factories/Interfaces/IAssertFactory.cs
  src/Orbital.Mock.Server/Pipelines/Filters/BodyMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/HeaderMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/QueryMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
  tests/Orbital.Mock.Server.Tests/Factories/AssertFactoryTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/HeaderMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/QueryMatchFilterTests.cs
Due: azure-pipelines.yml

address comments
  src/Orbital.Mock.Server/Pipelines/Filters/HeaderMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/QueryMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/Interfaces/IRuleMatcher.cs
Due: azure-pipelines.yml

add TextComparer, implement it in RuleMatcher, and added unit tests
  src/Orbital.Mock.Server/Pipelines/Comparers/TextComparer.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/TextComparerTests.cs
Due: azure-pipelines.yml

change in comments
  src/Orbital.Mock.Server/Pipelines/Comparers/TextComparer.cs
Due: azure-pipelines.yml

missed a comment
  src/Orbital.Mock.Server/Pipelines/Comparers/TextComparer.cs
Due: azure-pipelines.yml

address changes
  src/Orbital.Mock.Server/Pipelines/Comparers/TextComparer.cs
Due: azure-pipelines.yml

address comments
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/TextComparerTests.cs
Due: azure-pipelines.yml

Updated ComparerType enum in server to match client
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Models/Examples/MockDefinitionsModelExamples.cs
  src/Orbital.Mock.Server/Models/Interfaces/IRule.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
  tests/Orbital.Mock.Server.Tests/Models/BodyRuleTests.cs
  tests/Orbital.Mock.Server.Tests/Models/KeyValuePairRuleTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/BodyMatchFilterTest.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/HeaderMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/QueryMatchFilterTests.cs
Due: azure-pipelines.yml

update switch case with comparertypes
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

add try/catches for invalid json tests
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
Due: azure-pipelines.yml

be more specific in the type of error
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

missed changes to commit
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

Addressing comments in PR
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/QueryMatchFilterTests.cs
Due: azure-pipelines.yml

adding some refactors to the rule matcher
  src/Orbital.Mock.Server/Pipelines/Comparers/JsonComparer.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

Created JsonComparer tests and updated some comments
  src/Orbital.Mock.Server/Pipelines/Comparers/JsonComparer.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

Updating the deep contains
  src/Orbital.Mock.Server/Pipelines/Comparers/JsonComparer.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

add one more test
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

add extra not
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

Added new model for response
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/key-value-pair.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/response.model.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

Fixed tests
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
Due: azure-pipelines-designer.yml

Fixing tests-end of day push
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-container/add-body-rule-container.component.spec.ts
  src/orbital-designer/src/app/pipes/get-endpoint-scenarios/get-endpoint-scenarios.pipe.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
Due: azure-pipelines-designer.yml

Migrate older maps to KeyValuePairRule
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/response.model.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

Fixed contract and all associated files
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-container/add-body-rule-container.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-container/add-body-rule/add-body-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-container/add-body-rule/add-body-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-container/body-rule-list-item/body-rule-list-item.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-container/body-rule-list-item/body-rule-list-item.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/body-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/body-rule.type.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/key-value-pair-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/request-match-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/rule.type.ts
  src/orbital-designer/src/app/pipes/get-endpoint-scenarios/get-endpoint-scenarios.pipe.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/services/orbital-admin/orbital-admin.service.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

End of day push....need to fix tests
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

Changing Maps to KVPRUles
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-add/kvp-add.component.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.html
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.ts
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-list-item/kvp-list-item.component.ts
Due: azure-pipelines-designer.yml

Fixed tests finally
  src/orbital-designer/src/app/components/orbital-common/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
Due: azure-pipelines-designer.yml
