Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml

Merged PR 780: Merge feature/dotnet5 into master
  azure-pipelines.yml
  docker/mock/Dockerfile
  src/Orbital.Mock.Server/Controllers/OrbitalAdminController.cs
  src/Orbital.Mock.Server/Functions/RantFunctions.cs
  src/Orbital.Mock.Server/Middleware/LoggingRequestResponseMiddleware.cs
  src/Orbital.Mock.Server/Models/Examples/MockDefinitionsModelExamples.cs
  src/Orbital.Mock.Server/Models/Validators/MockDefinitionValidator.cs
  src/Orbital.Mock.Server/Orbital.Mock.Server.csproj
  src/Orbital.Mock.Server/Program.cs
  src/Orbital.Mock.Server/Registrations/SwaggerRegistration.cs
  src/Orbital.Mock.Server/Startup.cs
  tests/Orbital.Mock.IntegrationTests/Orbital.Mock.IntegrationTests.csproj
  tests/Orbital.Mock.IntegrationTests/OrbitalIntegrationConfiguration.cs
  tests/Orbital.Mock.Server.LongRunningTests/MockServerProcessorCancelTokenTests.cs
  tests/Orbital.Mock.Server.LongRunningTests/Orbital.Mock.Server.LongRunningTests.csproj
  tests/Orbital.Mock.Server.LongRunningTests/xunit.runner.json
  tests/Orbital.Mock.Server.Tests/Orbital.Mock.Server.Tests.csproj
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/BodyMatchFilterTest.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
Due: azure-pipelines.yml

Merged PR 777: updated json with token validation fields
  sample_mockdefinition_contract/sample_contract_1.json
Due: azure-pipelines.yml

Merged PR 782: merge mock-def-JSON-schema -> master
  sample_mockdefinition_contract/mock_schema.json
Due: azure-pipelines.yml

Merged PR 785: Merge feature to master
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.html
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.scss
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.scss
  src/orbital-designer/src/app/models/mock-definition/mock-definition.model.ts
  src/orbital-designer/src/app/models/mock-definition/token-validation.model.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

Merged PR 788: Merge feature to master
  src/orbital-designer/documentation.json
  src/orbital-designer/src/app/app-routing.module.ts
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.html
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.scss
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.ts
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.html
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.scss
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.ts
  src/orbital-designer/src/app/models/mock-definition/mock-definition.model.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

Merged PR 791: Merge feature to master
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
Due: azure-pipelines-designer.yml

Merged PR 796: Merge feature to master
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-add-rule/kvp-add-rule.component.ts
Due: azure-pipelines-designer.yml

Merged PR 798: merge feature to master
  src/Orbital.Mock.Server/Models/MockDefinition.cs
  src/Orbital.Mock.Server/Models/TokenValidationInfo.cs
  src/Orbital.Mock.Server/Models/Validators/BodyRuleValidator.cs
  src/Orbital.Mock.Server/Models/Validators/TokenValidationValidator.cs
  tests/Orbital.Mock.Server.Tests/Models/MockDefinitionTests.cs
  tests/Orbital.Mock.Server.Tests/Models/TokenValidationinfoTests.cs
Due: azure-pipelines.yml

Merged PR 800: merge feature to master
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.html
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.scss
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/scenario.model.ts
  src/orbital-designer/src/app/models/mock-definition/token-validation.model.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
  src/orbital-designer/src/test-files/test-mockdefinition-file.mock.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

Merged PR 804: Sidebar Mockdef Title Limitation
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.html
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.scss
Due: azure-pipelines-designer.yml

Merged PR 806: Auth Key Auto-Generation Button
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.html
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.scss
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.ts
Due: azure-pipelines-designer.yml

Merged PR 808: merge feature to master
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.ts
Due: azure-pipelines-designer.yml

Merged PR 811: Merge feature to master
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.scss
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

Merged PR 813: Merging feature to master
  src/Orbital.Mock.Server/Handlers/Pipeline/InvokeSynchronousPipelineHandler.cs
  src/Orbital.Mock.Server/Middleware/ServerRequestMiddleware.cs
  src/Orbital.Mock.Server/Models/MatchResult.cs
  src/Orbital.Mock.Server/Models/Scenario.cs
  src/Orbital.Mock.Server/Models/TokenValidationInfo.cs
  src/Orbital.Mock.Server/Orbital.Mock.Server.csproj
  src/Orbital.Mock.Server/Pipelines/Filters/HeaderMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/TokenParseFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/TokenValidationFilter.cs
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
  src/Orbital.Mock.Server/Pipelines/Models/MessageProcessorInput.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/ITokenParsePort.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/ITokenValidationPort.cs
  src/Orbital.Mock.Server/Pipelines/Ports/ProcessMessagePort.cs
  src/Orbital.Mock.Server/Program.cs
  src/Orbital.Mock.Server/Startup.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/BodyMatchFilterTest.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/ResponseSelectorFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/TokenParseFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/TokenValidationFilterTests.cs
  tests/Orbital.Mock.Server.Tests/TestUtils.cs
Due: azure-pipelines.yml

Merged PR 816: feature to master
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.ts
Due: azure-pipelines-designer.yml

Merged PR 818: merge feature to master
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.scss
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.scss
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.html
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.scss
Due: azure-pipelines-designer.yml

Merged PR 824: Merge feature to master
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.html
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.scss
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list/endpoint-list.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.html
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.scss
Due: azure-pipelines-designer.yml

Merged PR 829: Merging JWK support into master
  src/Orbital.Mock.Server/Pipelines/Filters/TokenValidationFilter.cs
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.html
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/TokenValidationFilterTests.cs
  tests/Orbital.Mock.Server.Tests/TestUtils.cs
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Merged PR 830: Merge feature to master
  src/orbital-designer/src/app/components/export-to-server-view/export-to-server-view.component.spec.ts
  src/orbital-designer/src/app/components/export-to-server-view/export-to-server-view.component.ts
  src/orbital-designer/src/environments/environment.prod.ts
  src/orbital-designer/src/environments/environment.ts
Due: azure-pipelines-designer.yml

Merged PR 833: More Token Validation Types - Feature -> Master
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.scss
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.ts
  src/orbital-designer/src/app/models/mock-definition/token-validation.model.ts
Due: azure-pipelines-designer.yml

Merged PR 837: Merge feature to master
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-add-rule/kvp-add-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-add-rule/kvp-add-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.scss
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-form-builder/scenario-form.builder.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.html
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.scss
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/scenario.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/token-rule.model.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
  src/orbital-designer/src/app/store/designer-store.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

Merged PR 844: Merge Feature to Master
  src/Orbital.Mock.Server/Models/MatchResult.cs
  src/Orbital.Mock.Server/Models/MockResponse.cs
  src/Orbital.Mock.Server/Models/Scenario.cs
  src/Orbital.Mock.Server/Models/TokenRuleInfo.cs
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/TokenRequestMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/ITokenParsePort.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/ITokenRequestMatchPort.cs
  src/Orbital.Mock.Server/Pipelines/Ports/ProcessMessagePort.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/ResponseSelectorFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/TokenParseFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/TokenRequestMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/TokenValidationFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
  tests/Orbital.Mock.Server.Tests/TestUtils.cs
Due: azure-pipelines.yml

Merged PR 852: Removed Check Expired from Model and Form
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/token-rule.model.ts
Due: azure-pipelines-designer.yml

Merged PR 854: Merging feature to master
  src/Orbital.Mock.Server/Services/PublicKeyService.cs
  src/Orbital.Mock.Server/Startup.cs
  tests/Orbital.Mock.Server.Tests/Services/PublicKeyServiceTests.cs
Due: azure-pipelines.yml

Merged PR 857: merge feature to master
  src/orbital-designer/src/app/components/home-view/home-view.component.spec.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.ts
Due: azure-pipelines-designer.yml

Merged PR 862: Scenario Endpoint Redirect Bug -- Feature to Master
  src/orbital-designer/src/app/components/home-view/home-view.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
Due: azure-pipelines-designer.yml

Merged PR 861: Configure New Mock Tooltip -- Feature to Master
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.html
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.scss
Due: azure-pipelines-designer.yml

Merged PR 866: Scenario Editor Tabs
  azure-pipelines-designer.yml
  azure-pipelines-github.yml
  azure-pipelines-pr.yml
  azure-pipelines.yml
  docker/designer/Dockerfile
  orbital.code-workspace
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/search-bar/search-bar.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-metadata/add-metadata.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-metadata/add-metadata.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/kvp-edit-rule/kvp-list-item-rule-type/kvp-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy/policy.component.html
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy/policy.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy/policy.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.scss
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/pipes/get-endpoint-scenarios/get-endpoint-scenarios.pipe.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/services/openapispecservice/open-api-spec.service.ts
  src/orbital-designer/src/index.html
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Merged PR 887: Remove accordions in favour of tabs and group request content into one tab
  README.md
  orbital.code-workspace
  readme_images/endpointoverview.png
  readme_images/headerMatchRule.png
  readme_images/newScenarioMetadata.png
  readme_images/newScenarioResponse.png
  src/orbital-designer/.prettierignore
  src/orbital-designer/.vscode/settings.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-token-validation-rule/add-token-validation-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
  src/orbital-designer/src/app/shared/components/kvp-edit/kvp-edit.component.spec.ts
  src/orbital-designer/src/app/shared/components/kvp-edit/kvp-list-item/kvp-list-item.component.spec.ts
  src/orbital-designer/src/app/shared/components/kvp-edit/kvp-list-item/kvp-list-item.component.ts
  src/orbital-designer/src/app/shared/shared.module.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Merged PR 897: Dependency Update Warning
  orbital.code-workspace
  src/orbital-designer/.husky/change_warnings.sh
  src/orbital-designer/.husky/post-checkout
  src/orbital-designer/.husky/post-merge
  src/orbital-designer/package-lock.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Merged PR 900: feature/fix-mockdef-contract
  src/Orbital.Mock.Server/Models/MockDefinition.cs
  tests/Orbital.Mock.Server.Tests/Models/MockDefinitionTests.cs
Due: azure-pipelines.yml

Merged PR 910: Initial Changes to Body Match Rule
  src/orbital-designer/package-lock.json
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/add-body-rule-builder/add-body-rule.builder.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-edit-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-edit-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-edit-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-list-item-rule-type/body-list-item-rule-type.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-list-item-rule-type/body-list-item-rule-type.component.scss
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-list-item-rule-type/body-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-list-item-rule-type/body-list-item-rule-type.component.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-form-builder/scenario-form.builder.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/body-rule/body-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/body-rule/body-rule.type.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/body-rule/rule-condition/json.condition.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/body-rule/rule-condition/text.condition.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/body-rule/rule-type/form-body-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/body-rule/rule-type/json-body-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/body-rule/rule-type/text-body-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/request-match-rule.model.ts
  src/orbital-designer/src/app/pipes/get-endpoint-scenarios/get-endpoint-scenarios.pipe.spec.ts
  src/orbital-designer/src/app/services/valid-json/valid-json.service.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
Due: azure-pipelines-designer.yml
