Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml

Merged PR 664: added rules to the scenario preview section
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.html
Due: azure-pipelines-designer.yml

Fix duplicate body rule msg appearing; set body rule type to a default
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/add-body-rule-builder/add-body-rule.builder.ts
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-edit-rule.component.ts
Due: azure-pipelines-designer.yml

Remove unused ruleIsDuplicatedIndex
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-edit-rule.component.html
Due: azure-pipelines-designer.yml

Merged PR 665: Json schema body rule
  src/Orbital.Mock.Server/Orbital.Mock.Server.csproj
  src/Orbital.Mock.Server/Pipelines/Comparers/JsonComparer.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-container/add-body-rule/add-body-rule.component.html
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Fix JSON path not matching
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

Add overload for PathEqual to fix json path bug
  src/Orbital.Mock.Server/Pipelines/Comparers/JsonComparer.cs
Due: azure-pipelines.yml

Fix tests: remove double quoted json paths via deserializing instead of str replace
  src/Orbital.Mock.Server/Pipelines/Comparers/JsonComparer.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

Fix tests: should not match default scenario response
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreBaseMockDefinitionBodyJsonPath.json
  tests/Orbital.Mock.IntegrationTests/Pipeline/BodyMatchJsonPath/BodyMatchFixtureJsonPath.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/BodyMatchJsonPath/BodyMatchJsonPathFixture.cs
Due: azure-pipelines.yml

Re-write integration test
  src/Orbital.Mock.Server/Pipelines/Comparers/JsonComparer.cs
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreBaseMockDefinitionBodyJsonPath.json
  tests/Orbital.Mock.IntegrationTests/Pipeline/BodyMatchJsonPath/BodyMatchJsonPathFixture.cs
Due: azure-pipelines.yml

Add single and double quote tests
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

Add docs to PathEqual
  src/Orbital.Mock.Server/Pipelines/Comparers/JsonComparer.cs
Due: azure-pipelines.yml

Run server during load testing
  Orbital.sln
  tests/Orbital.Mock.LoadTesting/LoadTestingTests.cs
  tests/Orbital.Mock.LoadTesting/Orbital.Mock.LoadTesting.csproj
Due: azure-pipelines.yml

uchaning the way mock definitions are added.
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/store/designer-store.ts
Due: azure-pipelines-designer.yml

Merged PR 665: Json schema body rule
  src/Orbital.Mock.Server/Orbital.Mock.Server.csproj
  src/Orbital.Mock.Server/Pipelines/Comparers/JsonComparer.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

Add JSON path exists feature
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

Merged PR 637: delay policy feature
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.scss
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy/policy.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/services/export-mockdefinition/export-mockdefinition.service.spec.ts
  src/orbital-designer/src/app/services/export-mockdefinition/export-mockdefinition.service.ts
Due: azure-pipelines-designer.yml

Merged PR 643: fix and refactor kvp edit component for headers and queries
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy/policy.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
Due: azure-pipelines-designer.yml

Merged PR 649: Quick Export feature
  src/orbital-designer/src/app/components/scenario-editor/add-response/add-response.component.scss
  src/orbital-designer/src/app/services/export-mockdefinition/export-mockdefinition.service.spec.ts
  src/orbital-designer/src/app/services/export-mockdefinition/export-mockdefinition.service.ts
Due: azure-pipelines-designer.yml

Delete unused body-rule-container and sub-components
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
Due: azure-pipelines-designer.yml

Remove unused methods, variables, ngTemplates, and css styles
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add/policy-add.component.html
  src/orbital-designer/src/app/services/export-mockdefinition/export-mockdefinition.service.ts
Due: azure-pipelines-designer.yml

Resolve merge conflict
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

Add fact to test; migrate url integration test to latest version of designer
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionUrl.json
  tests/Orbital.Mock.IntegrationTests/Pipeline/UrlPathMatch/UrlPathMatchFixture.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

Fix tests: remove double quoted json paths via deserializing instead of str replace
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

Remove duplicate test
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/JsonComparerTests.cs
Due: azure-pipelines.yml

Removing unused imports.
  src/orbital-designer/src/app/services/export-mockdefinition/export-mockdefinition.service.ts
Due: azure-pipelines-designer.yml

Add two load tests
  tests/Orbital.Mock.LoadTesting/LoadTestingTests.cs
  tests/Orbital.Mock.LoadTesting/Orbital.Mock.LoadTesting.csproj
  tests/Orbital.Mock.LoadTesting/PetStoreBaseMockDefinition.json
Due: azure-pipelines.yml

Updated import from file and import from server to no longer overwrite
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

Add TestsFixture class
  tests/Orbital.Mock.LoadTesting/LoadTestingTests.cs
Due: azure-pipelines.yml

Add HitEndpointMultipleTimesTest test
  tests/Orbital.Mock.LoadTesting/LoadTestingTests.cs
Due: azure-pipelines.yml

Move TestsFixture class to new file
  tests/Orbital.Mock.LoadTesting/LoadTestingTests.cs
  tests/Orbital.Mock.LoadTesting/TestsFixture.cs
Due: azure-pipelines.yml

Add TCP-port-in-use wait when shutting down server
  tests/Orbital.Mock.LoadTesting/TestsFixture.cs
Due: azure-pipelines.yml

Add logging for tests
  tests/Orbital.Mock.LoadTesting/LoadTestingTests.cs
  tests/Orbital.Mock.LoadTesting/Orbital.Mock.LoadTesting.csproj
  tests/Orbital.Mock.LoadTesting/TestsFixture.cs
  tests/Orbital.Mock.LoadTesting/XunitLoggerProvider.cs
Due: azure-pipelines.yml

Move logging class to new file
  tests/Orbital.Mock.LoadTesting/TestsFixture.cs
  tests/Orbital.Mock.LoadTesting/XunitLogger.cs
Due: azure-pipelines.yml

Wait five seconds for TCP port when starting server
  tests/Orbital.Mock.LoadTesting/TestsFixture.cs
Due: azure-pipelines.yml

remove white space and fix some linting issues to solve build issue
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.ts
  src/orbital-designer/src/app/store/designer-store.ts
Due: azure-pipelines-designer.yml

Create add-body-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-container/add-body-rule/add-body-rule.component.html
Due: azure-pipelines-designer.yml

add json schema rule
  src/orbital-designer/src/app/components/scenario-editor/add-body-rule-edit/body-add-rule/body-add-rule.component.ts
Due: azure-pipelines-designer.yml
