Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

azure-pipelines-designer.yml:
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - task: DeleteFiles@1
    displayName: Delete JUnit files
    inputs:
      SourceFolder: ./junit
      Contents: TEST*.xml
  - task: Npm@1
    displayName: npm install
    inputs:
      command: install
      workingDir: ./src/orbital-designer
  - task: Npm@1
  ...

azure-pipelines.yml:
  pool:
    vmImage: Ubuntu 16.04
  container: microsoft/dotnet:2.2-sdk
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      arguments: --configuration $(buildConfiguration)
  - task: DotNetCoreCLI@2
    displayName: Unit Testing for Mock Server
    inputs:
      command: test
  ...

trying to add secretes and script variables
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

enable functionalities mock list
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/orbital-common.module.ts
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.scss
  src/orbital-designer/src/app/components/orbital-common/side-bar/side-bar.component.ts
  src/orbital-designer/src/app/components/side-bar/side-bar.component.html
  src/orbital-designer/src/app/components/side-bar/side-bar.component.scss
  src/orbital-designer/src/app/components/side-bar/side-bar.component.spec.ts
  src/orbital-designer/src/app/components/side-bar/side-bar.component.ts
Due: azure-pipelines-designer.yml

trying to move to arm template
  azure-pipelines-pr.yml
  docker/designer/Dockerfile
  scripts/orbitalARMTemplate.json
  src/orbital-designer/nginx/nginx.conf
Due: azure-pipelines-designer.yml, azure-pipelines.yml

fixing docker file. adding nginx conf
  docker/designer/Dockerfile
  src/orbital-designer/nginx/default.conf
  src/orbital-designer/package-lock.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

added search functionality
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list/endpoint-list.component.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.html
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.ts
  src/orbital-designer/src/app/components/orbital-common/search-bar/search-bar.component.html
  src/orbital-designer/src/app/components/orbital-common/search-bar/search-bar.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/search-bar/search-bar.component.ts
Due: azure-pipelines-designer.yml

fixing the arm template to use different images for deploy
  scripts/orbitalARMTemplate.json
Due: azure-pipelines.yml

trying a mirror
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

Adding mirror and temp production
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

changed the validation check. Now checks against control.invalid rather than control.valid
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.ts
Due: azure-pipelines-designer.yml

fixed overflow x
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list/endpoint-list.component.scss
Due: azure-pipelines-designer.yml

makes a new FormArray on response now.
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.spec.ts
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.ts
Due: azure-pipelines-designer.yml

added some tests
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.spec.ts
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Fixed starting up test. All passed.
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.spec.ts
  src/orbital-designer/src/app/components/side-bar/side-bar.component.spec.ts
  src/orbital-designer/src/app/components/side-bar/side-bar.component.ts
Due: azure-pipelines-designer.yml

added tests, comments and common workspace files
  .vscode/settings.json
  orbital.code-workspace
  src/Orbital.Mock.Server/.vscode/launch.json
  src/Orbital.Mock.Server/.vscode/tasks.json
  src/orbital-designer/.gitignore
  src/orbital-designer/.vscode/launch.json
  src/orbital-designer/.vscode/settings.json
  src/orbital-designer/.vscode/tasks.json
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list/endpoint-list.component.scss
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list/endpoint-list.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list/endpoint-list.component.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.html
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.ts
  src/orbital-designer/src/app/components/orbital-common/search-bar/search-bar.component.spec.ts
  src/orbital-designerws.code-workspace
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Added testing to mockdefinition list items
  src/orbital-designer/src/app/components/side-bar/side-bar.component.spec.ts
Due: azure-pipelines-designer.yml

Fix issues in the scss file.
  src/orbital-designer/src/app/components/side-bar/side-bar.component.scss
Due: azure-pipelines-designer.yml

Fixed SideBarComponent.isSelected Test
  src/orbital-designer/src/app/components/side-bar/side-bar.component.spec.ts
Due: azure-pipelines-designer.yml

added more logging
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.ts
Due: azure-pipelines-designer.yml

fixed quotes
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list/endpoint-list.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/search-bar/search-bar.component.spec.ts
Due: azure-pipelines-designer.yml

added random test length as per PR comment
  src/orbital-designer/src/app/components/orbital-common/search-bar/search-bar.component.spec.ts
Due: azure-pipelines-designer.yml

removed !important
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list/endpoint-list.component.scss
Due: azure-pipelines-designer.yml

fixed comment typo
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.ts
Due: azure-pipelines-designer.yml

Added test to return false for isSelected()
  src/orbital-designer/src/app/components/side-bar/side-bar.component.ts
Due: azure-pipelines-designer.yml

Added text.
  src/orbital-designer/src/app/components/side-bar/side-bar.component.spec.ts
Due: azure-pipelines-designer.yml

updatedSelected test done. Added documentation.
  src/orbital-designer/src/app/components/side-bar/side-bar.component.spec.ts
  src/orbital-designer/src/app/components/side-bar/side-bar.component.ts
Due: azure-pipelines-designer.yml

Updated Css, Html and Sidebar test
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.scss
  src/orbital-designer/src/app/components/side-bar/side-bar.component.scss
  src/orbital-designer/src/app/components/side-bar/side-bar.component.spec.ts
  src/orbital-designer/src/app/components/side-bar/side-bar.component.ts
Due: azure-pipelines-designer.yml

updated subscription function
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.ts
Due: azure-pipelines-designer.yml

fixed list not updating
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.ts
  src/orbital-designer/src/app/components/orbital-common/search-bar/search-bar.component.ts
Due: azure-pipelines-designer.yml

updating package lock
  src/orbital-designer/package-lock.json
Due: azure-pipelines-designer.yml

Removing the auot-complete module
  src/orbital-designer/src/app/components/edit-scenario/key-value-list/autocomplete-input/autocomplete-input.component.html
  src/orbital-designer/src/app/components/edit-scenario/key-value-list/autocomplete-input/autocomplete-input.component.scss
  src/orbital-designer/src/app/components/edit-scenario/key-value-list/autocomplete-input/autocomplete-input.component.spec.ts
  src/orbital-designer/src/app/components/edit-scenario/key-value-list/autocomplete-input/autocomplete-input.component.ts
Due: azure-pipelines-designer.yml

Move overview to components folder
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.spec.ts
  src/orbital-designer/src/app/components/overview/overview.component.html
  src/orbital-designer/src/app/components/overview/overview.component.scss
  src/orbital-designer/src/app/components/overview/overview.component.spec.ts
  src/orbital-designer/src/app/components/overview/overview.component.ts
Due: azure-pipelines-designer.yml

Add http-status-codes package
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Refactor overview header to template
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.html
  src/orbital-designer/src/app/components/overview/overview.component.html
  src/orbital-designer/src/app/components/overview/overview.component.ts
Due: azure-pipelines-designer.yml

Add feature to show scenario contents for endpoint
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.html
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.ts
Due: azure-pipelines-designer.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml
