Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml

Reverted back to use documentation defaults
  .devcontainer/devcontainer.json
Due: azure-pipelines.yml

Install community faker-js
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Updated tests to use new faker dependency
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.spec.ts
  src/orbital-designer/src/app/components/download-mockdefinitions/download-mockdefinitions.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-list-item/endpoint-list-item.component.spec.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.spec.ts
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-item-form/body-rule-item-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/metadata-form/metadata-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policies-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policy-form/policy-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/pipes/get-endpoint-scenarios/get-endpoint-scenarios.pipe.spec.ts
  src/orbital-designer/src/app/pipes/get-verb-color/get-verb-color.pipe.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/services/openapispecservice/open-api-spec.service.spec.ts
  src/orbital-designer/src/app/services/read-file/read-file.service.spec.ts
  src/orbital-designer/src/app/shared/components/key-value-pair-form/key-value-pair-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/key-value-pair-form/key-value-pair-item-form/key-value-pair-item-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-item-form/key-value-rule-item-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/search-bar/search-bar.component.spec.ts
  src/orbital-designer/src/app/shared/components/shuttle-list/shuttle-list.component.spec.ts
  src/orbital-designer/src/app/shared/components/shuttle-list/shuttle-sub-list/shuttle-sub-list.spec.ts
  src/orbital-designer/src/app/shared/components/url-rule-form/url-rule-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/url-rule-form/url-rule-item-form/url-rule-item-form.component.spec.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
Due: azure-pipelines-designer.yml

Removed deprecated fake dependencies & update test
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-item-form/key-value-rule-item-form.component.spec.ts
Due: azure-pipelines-designer.yml

Updating nginx version and added docs to explain rationale
  docker/designer/Dockerfile
Due: azure-pipelines.yml

Updated packages & fixed one type error
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/components/import-from-server-view/import-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Fixed type errors and moved variable declaration chunk up the file
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.ts
Due: azure-pipelines-designer.yml

Fixed failing tests and updated test functionality sue to dependency updates
  src/orbital-designer/src/app/components/create-edit-mock-view/create-edit-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/response-form/response-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/shared/components/side-bar/side-bar.component.spec.ts
Due: azure-pipelines-designer.yml

Updated to use Material-UI Mat Chip ListBox
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.html
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.scss
Due: azure-pipelines-designer.yml

Fixes to docker build container
  docker/designer/Dockerfile
  src/orbital-designer/angular.json
  src/orbital-designer/src/app/app-routing.module.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Fixed build errors due to Ang-Material themeing import
  src/orbital-designer/src/styles.scss
Due: azure-pipelines-designer.yml

Updated to use v15 conventions for SCSS map & polyfills
  src/orbital-designer/angular.json
  src/orbital-designer/src/polyfills.ts
  src/orbital-designer/src/styles.scss
  src/orbital-designer/tsconfig.app.json
  src/orbital-designer/tsconfig.spec.json
Due: azure-pipelines-designer.yml

Fixes issues with jwt validation with invalid keys
  src/Orbital.Mock.Server/Pipelines/Filters/TokenRequestMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/TokenValidationFilter.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/ITokenValidationPort.cs
  src/Orbital.Mock.Server/Pipelines/Ports/ProcessMessagePort.cs
Due: azure-pipelines.yml

Fixes test for port invalidation
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/ResponseSelectorFilterTests.cs
Due: azure-pipelines.yml

Allow invalid tokens to be check for TokenRequestMatch rules
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/TokenValidationFilter.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/ITokenValidationPort.cs
  src/Orbital.Mock.Server/Pipelines/Ports/ProcessMessagePort.cs
Due: azure-pipelines.yml

Added analytics tracking set to false
  src/orbital-designer/angular.json
Due: azure-pipelines-designer.yml

Reverted to use baselined MaterialUI version
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.html
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.scss
Due: azure-pipelines-designer.yml

updated to MaterialUI v14 - Build successful
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/styles.scss
Due: azure-pipelines-designer.yml

Rollback Ang-JSON editor package to restore
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Fixed routing by removing deprecated component
  src/orbital-designer/src/app/services/overview-redirect/overview-redirect.service.ts
Due: azure-pipelines-designer.yml

Rebuilt package-lock.json
  src/orbital-designer/package-lock.json
Due: azure-pipelines-designer.yml

Reverted build step to run clean install without peerDeps overrides
  docker/designer/Dockerfile
Due: azure-pipelines.yml

Used ng to update to Material v15
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.ts
  src/orbital-designer/src/app/services/notification-service/notification.service.ts
  src/orbital-designer/src/app/shared/components/search-bar/search-bar.component.ts
  src/orbital-designer/src/app/shared/components/shuttle-list/shuttle-sub-list/shuttle-sub-list.component.ts
  src/orbital-designer/src/app/shared/material.module.ts
  src/orbital-designer/src/app/shared/shared.module.ts
  src/orbital-designer/src/styles.scss
Due: azure-pipelines-designer.yml

Rebuilt package.json/lock files to build using npm ci - Containers deploy successfully
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Fixed breaking tests by switching to legacy mat versions
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.spec.ts
  src/orbital-designer/src/app/components/import-from-file-view/import-from-file-view.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
  src/orbital-designer/src/app/services/notification-service/notification.service.spec.ts
Due: azure-pipelines-designer.yml

Remove pipeline checks for lock file mismatches
  pipeline_templates/designer-install-and-test.yml
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/components/scenario-editor/response-form/response-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Fixed broswerslist config to work with Angular CLI
  src/orbital-designer/browserlist
Due: azure-pipelines-designer.yml

Updated browserslist config
  src/orbital-designer/browserslist
Due: azure-pipelines-designer.yml

Updated documentation to include additional notes - WIP
  src/orbital-designer/README.md
Due: azure-pipelines-designer.yml

Updated readme assets and remaining notes
  readme_images/ncu_readout_terminal.png
  src/orbital-designer/README.md
Due: azure-pipelines-designer.yml, azure-pipelines.yml

partial migration of non-breaking material modules - WIP - Build Successful
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.ts
  src/orbital-designer/src/app/shared/components/shuttle-list/shuttle-sub-list/shuttle-sub-list.component.ts
  src/orbital-designer/src/app/shared/material.module.ts
  src/orbital-designer/src/app/shared/shared.module.ts
  src/orbital-designer/src/styles.scss
Due: azure-pipelines-designer.yml

Updated dialogue module - Build Successful
  src/orbital-designer/src/app/shared/material.module.ts
Due: azure-pipelines-designer.yml

Updated Autocomplete Module - Build successful
  src/orbital-designer/src/app/shared/material.module.ts
Due: azure-pipelines-designer.yml

Reverted found bug with drop-down menus
  src/orbital-designer/src/app/shared/material.module.ts
Due: azure-pipelines-designer.yml

Removed unnecessary component causing bug
  src/orbital-designer/src/app/shared/components/text-input/text-input.component.html
  src/orbital-designer/src/app/shared/material.module.ts
Due: azure-pipelines-designer.yml

Upgraded tabs component
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/shared/material.module.ts
Due: azure-pipelines-designer.yml

Updated table component
  src/orbital-designer/src/app/shared/material.module.ts
Due: azure-pipelines-designer.yml

Updated snackbar module
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/delete-from-server-view/delete-from-server-view.component.spec.ts
  src/orbital-designer/src/app/services/notification-service/notification.service.spec.ts
  src/orbital-designer/src/app/services/notification-service/notification.service.ts
  src/orbital-designer/src/app/shared/material.module.ts
Due: azure-pipelines-designer.yml

Updated button to MDC version
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.scss
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/shared/material.module.ts
  src/orbital-designer/src/app/shared/shared.module.ts
Due: azure-pipelines-designer.yml

Updated menu module
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.spec.ts
  src/orbital-designer/src/app/shared/material.module.ts
Due: azure-pipelines-designer.yml
