Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml

make contract changes for new url rules
  src/Orbital.Mock.Server/Models/Examples/MockDefinitionsModelExamples.cs
  src/Orbital.Mock.Server/Models/RequestMatchRules.cs
  src/Orbital.Mock.Server/Models/Validators/RequestMatchRulesValidator.cs
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreBaseMockDefinition.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinition.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionBody.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionBodyJsonContains.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionEndpoint.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionHeaders.json
  tests/Orbital.Mock.Server.Tests/Models/RequestMatchRulesTests.cs
  tests/Orbital.Mock.Server.Tests/Models/Validators/RequestMatchRulesValidatorTests.cs
Due: azure-pipelines.yml

Delete url-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/url-rule.model.ts
Due: azure-pipelines-designer.yml

Switch URLRule to KeyValuePairRule
  src/orbital-designer/src/app/models/mock-definition/scenario/request-match-rule.model.ts
Due: azure-pipelines-designer.yml

Add URLRule to the RequestMatchRules model
  src/orbital-designer/src/app/models/mock-definition/scenario/request-match-rule.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/url-rule.model.ts
Due: azure-pipelines-designer.yml

update url rule key name to urlPath
  sample_mockdefinition_contract/sample_contract_1.json
Due: azure-pipelines.yml

Create url-edit-rule-component
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.ts
Due: azure-pipelines-designer.yml

Tests for component
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.spec.ts
Due: azure-pipelines-designer.yml

add new add component with tests
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.spec.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/rule.type.ts
Due: azure-pipelines-designer.yml

Auto stash before merge of "1856-Create-the-url-list-item-rule-component" and "origin/feature/url-rule-feature"
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.scss
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.ts
Due: azure-pipelines-designer.yml

br
  src/Orbital.Mock.Server/Pipelines/Filters/UrlMatchFilter.cs
Due: azure-pipelines.yml

change comparers and add rule now reacts to accept all comparer
  src/Orbital.Mock.Server/Models/Interfaces/IRule.cs
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

fix tests
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.ts
Due: azure-pipelines-designer.yml

UrlMatch
  src/Orbital.Mock.Server/Pipelines/Filters/UrlMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/IUrlMatchPort.cs
Due: azure-pipelines.yml

Created url-list-item-rule component
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.ts
Due: azure-pipelines-designer.yml

update names
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.spec.ts
Due: azure-pipelines-designer.yml

revert css on url-edit-rule
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.scss
Due: azure-pipelines-designer.yml

Added tests to component.
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.ts
Due: azure-pipelines-designer.yml

Updating condition
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.ts
Due: azure-pipelines-designer.yml

fix linting error
  src/orbital-designer/src/app/app.module.ts
Due: azure-pipelines-designer.yml

Fix contains, startswith, and endswith not matching: reverse parameters
  src/Orbital.Mock.Server/Pipelines/Comparers/TextComparer.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Comparers/TextComparerTests.cs
Due: azure-pipelines.yml

End of day push
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Factories/Interfaces/IAssertFactory.cs
  src/Orbital.Mock.Server/Pipelines/Ports/ProcessMessagePort.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/UrlMatchFilterTests.cs
Due: azure-pipelines.yml

Commit to save progress
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.ts
Due: azure-pipelines-designer.yml

initialize url match rules in scenario component
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.ts
Due: azure-pipelines-designer.yml

make changes to complete url validation
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.ts
Due: azure-pipelines-designer.yml

initialize url rule properly
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

change in tests
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.spec.ts
Due: azure-pipelines-designer.yml

make slight changes to assertfactory
  src/Orbital.Mock.Server/Factories/AssertFactory.cs
  src/Orbital.Mock.Server/Factories/Interfaces/IAssertFactory.cs
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
Due: azure-pipelines.yml

add accept all matcher case in rules and adjust tests
  src/Orbital.Mock.Server/Pipelines/RuleMatchers/RuleMatcher.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/UrlMatchFilterTests.cs
Due: azure-pipelines.yml

add one more test
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/UrlMatchFilterTests.cs
Due: azure-pipelines.yml

adjust comment
  src/Orbital.Mock.Server/Pipelines/Filters/UrlMatchFilter.cs
Due: azure-pipelines.yml

update design + trying to fix tests. Local testing is broken on my lapto
  src/orbital-designer/src/app/components/scenario-editor/add-request-match-rule/add-request-match-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-add-rule/url-add-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.scss
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.ts
Due: azure-pipelines-designer.yml

update to tests
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.spec.ts
Due: azure-pipelines-designer.yml

implement url filter in mock server processor
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
Due: azure-pipelines.yml

start of integration test
  tests/Orbital.Mock.IntegrationTests/CommonData.cs
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionUrl.json
  tests/Orbital.Mock.IntegrationTests/Pipeline/UrlPathMatch/UrlPathMatchFixture.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/UrlPathMatch/UrlPathMatchScenario.cs
Due: azure-pipelines.yml

Add new components to OrbitalCommon/SceneEditor, update tests,
  src/orbital-designer/karma.conf.js
  src/orbital-designer/src/app/components/orbital-common/orbital-common.module.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.ts
Due: azure-pipelines-designer.yml

add integration test
  tests/Orbital.Mock.IntegrationTests/Orbital.Mock.IntegrationTests.csproj
  tests/Orbital.Mock.IntegrationTests/Pipeline/UrlPathMatch/UrlPathMatchScenario.cs
Due: azure-pipelines.yml

fixed incomplete query integration test
  tests/Orbital.Mock.IntegrationTests/CommonData.cs
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionQuery.json
  tests/Orbital.Mock.IntegrationTests/Orbital.Mock.IntegrationTests.csproj
  tests/Orbital.Mock.IntegrationTests/Pipeline/QueryPathMatch/QueryPathMatchFixture.cs
Due: azure-pipelines.yml

add url rules to MockServerProcessorTests
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
Due: azure-pipelines.yml

initialize rules if none are define in the imported file
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

initialize url rules if none is provided
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml
