Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml

remove unnecesary console log
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.ts
Due: azure-pipelines-designer.yml

update protractor dependency
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

update chrome version
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

more cleanup
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.ts
Due: azure-pipelines-designer.yml

update version again
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

change to record
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.html
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-edit-rule.component.ts
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.ts
  src/orbital-designer/src/app/models/record.ts
Due: azure-pipelines-designer.yml

clean up
  src/orbital-designer/src/app/components/scenario-editor/url-edit-rule/url-list-item-rule-type/url-list-item-rule-type.component.ts
  src/orbital-designer/src/app/models/record.ts
Due: azure-pipelines-designer.yml

add url filter in response selector filter
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
Due: azure-pipelines.yml

add comments
  src/orbital-designer/src/app/components/scenario-editor/scenario-form-builder/scenario-form.builder.ts
Due: azure-pipelines-designer.yml

add default scenarios when creating new mock definition
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/models/mock-definition/metadata.model.ts
  src/orbital-designer/src/app/models/mock-definition/scenario/scenario.model.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

add mock definition service in create-new-mock spec
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
Due: azure-pipelines-designer.yml

remove unused imports
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
Due: azure-pipelines-designer.yml

remove default values from metadata model
  src/orbital-designer/src/app/models/mock-definition/metadata.model.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

change default metadata information in service
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

add more expectations
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
Due: azure-pipelines-designer.yml

fix test
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
Due: azure-pipelines-designer.yml

add logo in header
  src/orbital-designer/src/app/app.component.html
  src/orbital-designer/src/app/app.component.ts
Due: azure-pipelines-designer.yml

remove get text test
  src/orbital-designer/e2e/src/app.e2e-spec.ts
Due: azure-pipelines-designer.yml

adjust css files so components have less space
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.scss
  src/orbital-designer/src/app/components/orbital-common/shuttle-list/shuttle-list.component.scss
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.scss
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.scss
Due: azure-pipelines-designer.yml

replace defaultresponse and default request match rules reference
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

change in message
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

change default description
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

add policy enums in client and server
  src/Orbital.Mock.Server/Models/Interfaces/IPolicy.cs
  src/orbital-designer/src/app/models/mock-definition/scenario/policy.type.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

add comment to interface
  src/Orbital.Mock.Server/Models/Interfaces/IPolicy.cs
Due: azure-pipelines.yml

create policy model
  src/orbital-designer/src/app/models/mock-definition/scenario/policy.model.ts
Due: azure-pipelines-designer.yml

add policy class
  src/Orbital.Mock.Server/Models/Policy.cs
Due: azure-pipelines.yml

modify policy models
  src/Orbital.Mock.Server/Models/Policy.cs
  src/orbital-designer/src/app/models/mock-definition/scenario/policy.model.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

change attributes field
  src/Orbital.Mock.Server/Models/Policy.cs
  src/orbital-designer/src/app/models/mock-definition/scenario/policy.model.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Merged PR 618: add default scenarios to endpoints when creating a new mock defintion
  src/orbital-designer/e2e/src/app.e2e-spec.ts
  src/orbital-designer/src/app/app.component.html
  src/orbital-designer/src/app/app.component.ts
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/components/endpoint-view/endpoint-view.component.scss
  src/orbital-designer/src/app/components/orbital-common/shuttle-list/shuttle-list.component.scss
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.scss
  src/orbital-designer/src/app/components/scenario-view/scenario-view.component.scss
  src/orbital-designer/src/app/models/mock-definition/scenario/scenario.model.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.spec.ts
  src/orbital-designer/src/app/services/mock-definition/mock-definition.service.ts
Due: azure-pipelines-designer.yml

add policies field to scenario in client and server
  src/Orbital.Mock.Server/Models/Scenario.cs
  src/orbital-designer/src/app/models/mock-definition/scenario/scenario.model.ts
  src/orbital-designer/src/test-files/test-mockdefinition-file.mock.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreBaseMockDefinition.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinition.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionBody.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionBodyJsonContains.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionEndpoint.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionHeaders.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionQuery.json
  tests/Orbital.Mock.IntegrationTests/MockDefinitions/PetStoreMockDefinitionUrl.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

create policy add component
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add-dummy/policy-add/policy-add.component.html
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add-dummy/policy-add/policy-add.component.scss
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add-dummy/policy-add/policy-add.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add-dummy/policy-add/policy-add.component.ts
Due: azure-pipelines-designer.yml

address comments
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add-dummy/policy-add/policy-add.component.spec.ts
Due: azure-pipelines-designer.yml

add policy edit component
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add/policy-add.component.html
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add/policy-add.component.scss
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add/policy-add.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add/policy-add.component.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.html
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.scss
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.ts
Due: azure-pipelines-designer.yml

rename input property and adjust comments
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.html
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.ts
Due: azure-pipelines-designer.yml

address comments
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add/policy-add.component.html
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.html
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.spec.ts
Due: azure-pipelines-designer.yml

address comments
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-add/policy-add.component.html
  src/orbital-designer/src/app/components/scenario-editor/policy-container/policy-edit/policy-edit.component.html
Due: azure-pipelines-designer.yml

Create PolicyFilter and IPolicyPort
  src/Orbital.Mock.Server/Pipelines/Filters/PolicyFilter.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/IPolicyPort.cs
Due: azure-pipelines.yml

Allow PolicyFilter's gen type to be IPolicyPort
  src/Orbital.Mock.Server/Pipelines/Filters/PolicyFilter.cs
Due: azure-pipelines.yml
