Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml

Merged PR 929: Error indicators in the scenario editor forms tabs!
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.scss
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
Due: azure-pipelines-designer.yml

Remove old workflows
  azure-pipelines-designer.yml
  azure-pipelines-github.yml
  azure-pipelines-pr.yml
  azure-pipelines.yml
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Added new PR Automation pipelines
  azure-pipelines-pr.yml
  pipeline_templates/designer-install-and-test.yml
  pipeline_templates/server-build-and-test.yml
Due: azure-pipelines.yml

Added new ci npm scripts
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Add package check step to designer workflow
  pipeline_templates/designer-install-and-test.yml
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Merged PR 936: New PR Pipeline
  azure-pipelines-designer.yml
  azure-pipelines-github.yml
  azure-pipelines-pr.yml
  azure-pipelines.yml
  pipeline_templates/designer-install-and-test.yml
  pipeline_templates/server-build-and-test.yml
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Added Orbital.Mock.Definition and migrated some small bits
  Orbital.sln
  src/Orbital.Mock.Definition/ComparerType.cs
  src/Orbital.Mock.Definition/Interfaces/IPolicy.cs
  src/Orbital.Mock.Definition/Interfaces/IRule.cs
  src/Orbital.Mock.Definition/Orbital.Mock.Definition.csproj
  src/Orbital.Mock.Definition/PolicyType.cs
Due: azure-pipelines.yml

Created azure-pipelines-develop pipeline and associated templates
  azure-pipelines-develop.yml
  azure-pipelines-pr.yml
  docker/designer/Dockerfile
  pipeline_templates/deploy-dev-containers.yml
  pipeline_templates/designer-build-container.yml
  pipeline_templates/mirror-to-github.yml
  pipeline_templates/server-build-container.yml
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Migrated CommonData & MockDef examples - significant cleanup
  src/Orbital.Mock.Definition/CommonData.cs
  src/Orbital.Mock.Definition/Examples/MockDefinitionsModelExamples.cs
  src/Orbital.Mock.Definition/Examples/SwaggerSchemaExamples/OpenApiDocumentSwaggerSchemaExample.json
  src/Orbital.Mock.Definition/Orbital.Mock.Definition.csproj
  src/Orbital.Mock.Server/Controllers/OrbitalAdminController.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/DeleteMockDefinitionHandler.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/GetAllMockDefinitionsHandler.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/SaveMockDefinitionHandler.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/UpdateMockDefinitionHandler.cs
  src/Orbital.Mock.Server/Handlers/Pipeline/InvokeSynchronousPipelineHandler.cs
  src/Orbital.Mock.Server/Models/Examples/MockDefinitionsModelExamples.cs
  src/Orbital.Mock.Server/Orbital.Mock.Server.csproj
  src/Orbital.Mock.Server/Pipelines/Filters/EndpointMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/MockServerProcessor.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/IFaultablePort.cs
  src/Orbital.Mock.Server/Pipelines/Ports/Interfaces/IPathValidationPort.cs
  src/Orbital.Mock.Server/Registrations/SwaggerRegistration.cs
  src/Orbital.Mock.Server/Startup.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/DeleteMockDefinitionHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/GetAllMockDefinitionsHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/SaveMockDefinitionHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/UpdateMockDefinitionHandlerTests.cs
Due: azure-pipelines.yml

Updated tests in place - now to migrate to Orbital.Mock.Definition.Tests
  src/Orbital.Mock.Server/Orbital.Mock.Server.csproj
  tests/Orbital.Mock.IntegrationTests/OrbitalAdmin/PostMockDefinitionNoResponseType/PostMockDefinitionNoResponseTypeFixture.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/DefaultScenarioMatch/DefaultScenarioMatchFixture.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/DefaultScenarioMatch/DefaultScenarioTieBreakerMatchFixture.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/HeaderPathMatch/HeaderPathMatchFixture.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/PolicyMatch/PolicyMatchFixture.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/QueryPathMatch/QueryPathMatchFixture.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/TemplateResponse/TemplatedResponseFixture.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/UrlPathMatch/UrlPathMatchFixture.cs
  tests/Orbital.Mock.Server.LongRunningTests/MockServerProcessorCancelTokenTests.cs
  tests/Orbital.Mock.Server.LongRunningTests/PolicyFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Controllers/OrbitalAdminControllerTests.cs
  tests/Orbital.Mock.Server.Tests/Factories/AssertFactoryTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/DeleteMockDefinitionHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/GetAllMockDefinitionsHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/GetMockDefinitionByTitleHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/SaveMockDefinitionHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/UpdateMockDefinitionHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/Models/BodyRuleTests.cs
  tests/Orbital.Mock.Server.Tests/Models/Converters/OpenApiJsonConverterTests.cs
  tests/Orbital.Mock.Server.Tests/Models/KeyValueTypeRuleTests.cs
  tests/Orbital.Mock.Server.Tests/Models/MetadataInfoTests.cs
  tests/Orbital.Mock.Server.Tests/Models/MockDefinitionTests.cs
  tests/Orbital.Mock.Server.Tests/Models/RequestMatchRulesTests.cs
  tests/Orbital.Mock.Server.Tests/Models/ScenarioTests.cs
  tests/Orbital.Mock.Server.Tests/Models/Validators/BodyRuleValidatorTests.cs
  tests/Orbital.Mock.Server.Tests/Models/Validators/MetadataInfoValidatorTests.cs
  tests/Orbital.Mock.Server.Tests/Models/Validators/MockDefinitionValidatorTests.cs
  tests/Orbital.Mock.Server.Tests/Models/Validators/RequestMatchRulesValidatorTests.cs
  tests/Orbital.Mock.Server.Tests/Models/Validators/ScenarioValidatorTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/BodyMatchFilterTest.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/EndpointMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/HeaderMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/QueryMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/ResponseSelectorFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/TokenParseFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/TokenRequestMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/TokenValidationFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/UrlMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
Due: azure-pipelines.yml

Created azure-pipelines-master pipeline and associated templates
  azure-pipelines-master.yml
  pipeline_templates/push-to-docker-hub.yml
  scripts/acrprodscript
  scripts/acrprodscript.sh
  scripts/azcliscript.sh
  scripts/buildImage.sh
  scripts/dockerprod.sh
Due: azure-pipelines.yml

Fix pipeline target
  azure-pipelines-master.yml
Due: azure-pipelines.yml

Only trigger overlay prompt when form is dirty
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
Due: azure-pipelines-designer.yml

Scenario Editor CSS Tweaks
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.scss
Due: azure-pipelines-designer.yml

Updated tests
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.spec.ts
Due: azure-pipelines-designer.yml

Added Orbital.Mock.Definition.Tests & migrated tests over as required
  Orbital.sln
  src/Orbital.Mock.Definition/Examples/MockDefinitionsModelExamples.cs
  src/Orbital.Mock.Server/Orbital.Mock.Server.csproj
  tests/Orbital.Mock.Definition.Tests/Converters/OpenApiJsonConverterTests.cs
  tests/Orbital.Mock.Definition.Tests/MetadataInfoTests.cs
  tests/Orbital.Mock.Definition.Tests/MockDefinitionTests.cs
  tests/Orbital.Mock.Definition.Tests/Orbital.Mock.Definition.Tests.csproj
  tests/Orbital.Mock.Definition.Tests/Rules/Assertion/AssertFactoryTests.cs
  tests/Orbital.Mock.Definition.Tests/Rules/BodyRuleTests.cs
  tests/Orbital.Mock.Definition.Tests/Rules/KeyValueTypeRuleTests.cs
  tests/Orbital.Mock.Definition.Tests/Rules/RequestMatchRulesTests.cs
  tests/Orbital.Mock.Definition.Tests/ScenarioTests.cs
  tests/Orbital.Mock.Definition.Tests/TestUtils.cs
  tests/Orbital.Mock.Definition.Tests/Validators/BodyRuleValidatorTests.cs
  tests/Orbital.Mock.Definition.Tests/Validators/MetadataInfoValidatorTests.cs
  tests/Orbital.Mock.Definition.Tests/Validators/MockDefinitionValidatorTests.cs
  tests/Orbital.Mock.Definition.Tests/Validators/RequestMatchRulesValidatorTests.cs
  tests/Orbital.Mock.Definition.Tests/Validators/ScenarioValidatorTests.cs
  tests/Orbital.Mock.IntegrationTests/CommonData.cs
  tests/Orbital.Mock.IntegrationTests/Pipeline/DefaultScenarioMatch/DefaultScenarioTieBreakerMatchFixture.cs
  tests/Orbital.Mock.Server.Tests/Orbital.Mock.Server.Tests.csproj
Due: azure-pipelines.yml

Fixed BodyMatchFilter parse body failure case
  src/Orbital.Mock.Server/Pipelines/Filters/BodyMatchFilter.cs
Due: azure-pipelines.yml

Moved policies and metadata into general tab
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
Due: azure-pipelines-designer.yml

Updated readme and images
  README.md
  readme_images/headerMatchRule.png
  readme_images/newScenarioGeneral.png
  readme_images/newScenarioResponse.png
Due: azure-pipelines.yml

Updated server build template
  pipeline_templates/server-build-and-test.yml
Due: azure-pipelines.yml

fix: handle null policy in duplication check functions
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policies-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policies-form.component.ts
Due: azure-pipelines-designer.yml

Disable save button when form is invalid or pristine
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.scss
Due: azure-pipelines-designer.yml

Merged CommonData into Orbital.Mock.Server/Constants
  src/Orbital.Mock.Definition/CommonData.cs
  src/Orbital.Mock.Server/Constants.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/DeleteMockDefinitionHandler.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/GetAllMockDefinitionsHandler.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/SaveMockDefinitionHandler.cs
  src/Orbital.Mock.Server/Handlers/MockDefinition/UpdateMockDefinitionHandler.cs
  src/Orbital.Mock.Server/Handlers/Pipeline/InvokeSynchronousPipelineHandler.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/DeleteMockDefinitionHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/GetAllMockDefinitionsHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/SaveMockDefinitionHandlerTests.cs
  tests/Orbital.Mock.Server.Tests/MockDefinitions/Handler/UpdateMockDefinitionHandlerTests.cs
Due: azure-pipelines.yml

Round 1
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Round 2
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Round 3 - Storybook
  src/orbital-designer/documentation.json
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Round 4
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

Round 5 - Angular
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

made initial change to body rule template structure and it compiles, now fixing issue with mode/state
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-form.component.html
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-form.component.ts
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-item-form/body-rule-item-form.component.html
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-item-form/body-rule-item-form.component.ts
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-form.component.html
Due: azure-pipelines-designer.yml

Always enable save, no save action when form is pristine
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
Due: azure-pipelines-designer.yml

now need to get template to reset each time, fix json editor, and make saved values viewable by default
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-form.component.ts
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-item-form/body-rule-item-form.component.html
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-item-form/body-rule-item-form.component.ts
Due: azure-pipelines-designer.yml

Added touched tracking and updating to the Metadata form component
  src/orbital-designer/src/app/components/scenario-editor/metadata-form/metadata-form.component.html
  src/orbital-designer/src/app/components/scenario-editor/metadata-form/metadata-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/metadata-form/metadata-form.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.ts
Due: azure-pipelines-designer.yml

Added touched tracking and updating to the Policies form component
  src/orbital-designer/src/app/components/scenario-editor/metadata-form/metadata-form.component.ts
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policies-form.component.html
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policies-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policies-form.component.ts
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policy-form/policy-form.component.html
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policy-form/policy-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policy-form/policy-form.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
Due: azure-pipelines-designer.yml

Added touched tracking and updating to the KeyValuePairItemFormComponent
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policies-form.component.ts
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policy-form/policy-form.component.ts
  src/orbital-designer/src/app/shared/components/key-value-pair-form/key-value-pair-form.component.html
  src/orbital-designer/src/app/shared/components/key-value-pair-form/key-value-pair-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/key-value-pair-form/key-value-pair-form.component.ts
  src/orbital-designer/src/app/shared/components/key-value-pair-form/key-value-pair-item-form/key-value-pair-item-form.component.html
  src/orbital-designer/src/app/shared/components/key-value-pair-form/key-value-pair-item-form/key-value-pair-item-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/key-value-pair-form/key-value-pair-item-form/key-value-pair-item-form.component.ts
Due: azure-pipelines-designer.yml

Added touched tracking and updating to the KeyValueRuleFormComponent
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-form.component.html
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-form.component.ts
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-item-form/key-value-rule-item-form.component.html
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-item-form/key-value-rule-item-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-item-form/key-value-rule-item-form.component.ts
Due: azure-pipelines-designer.yml

Touch Ups
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policies-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/policies-form/policies-form.component.ts
  src/orbital-designer/src/app/shared/components/key-value-pair-form/key-value-pair-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/key-value-pair-form/key-value-pair-form.component.ts
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/key-value-rule-form/key-value-rule-form.component.ts
Due: azure-pipelines-designer.yml

Added touched tracking and updating to the UrlRuleFormComponent
  src/orbital-designer/src/app/shared/components/url-rule-form/url-rule-form.component.html
  src/orbital-designer/src/app/shared/components/url-rule-form/url-rule-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/url-rule-form/url-rule-form.component.ts
  src/orbital-designer/src/app/shared/components/url-rule-form/url-rule-item-form/url-rule-item-form.component.html
  src/orbital-designer/src/app/shared/components/url-rule-form/url-rule-item-form/url-rule-item-form.component.spec.ts
  src/orbital-designer/src/app/shared/components/url-rule-form/url-rule-item-form/url-rule-item-form.component.ts
Due: azure-pipelines-designer.yml

Added touched tracking and updating to the BodyRuleFormComponent
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-form.component.html
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-form.component.ts
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-item-form/body-rule-item-form.component.html
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-item-form/body-rule-item-form.component.spec.ts
  src/orbital-designer/src/app/components/scenario-editor/body-rule-form/body-rule-item-form/body-rule-item-form.component.ts
  src/orbital-designer/src/app/components/scenario-editor/scenario-editor.component.html
Due: azure-pipelines-designer.yml
