Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

azure-pipelines-designer.yml:
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - task: DeleteFiles@1
    displayName: Delete JUnit files
    inputs:
      SourceFolder: ./junit
      Contents: TEST*.xml
  - task: Npm@1
    displayName: npm install
    inputs:
      command: install
      workingDir: ./src/orbital-designer
  - task: Npm@1
  ...

azure-pipelines.yml:
  pool:
    vmImage: Ubuntu 16.04
  container: microsoft/dotnet:2.2-sdk
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      arguments: --configuration $(buildConfiguration)
  - task: DotNetCoreCLI@2
    displayName: Unit Testing for Mock Server
    inputs:
      command: test
  ...

seperated logic into orbital-server-service
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
  src/orbital-designer/src/app/services/orbital-server.service.ts
Due: azure-pipelines-designer.yml

Fix all linting errors causing the Azure CI build to fail
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
  src/orbital-designer/src/app/services/orbital-server.service.spec.ts
Due: azure-pipelines-designer.yml

created button and modal for connecting to server
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.html
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

Remove duplicate CORS-allow-all headers in MockResponse
  src/Orbital.Mock.Server/Models/MockResponse.cs
Due: azure-pipelines.yml

created services file for httpclient
  src/orbital-designer/src/app/services/orbial-server.service.spec.ts
  src/orbital-designer/src/app/services/orbial-server.service.ts
Due: azure-pipelines-designer.yml

Fix Azure CI warning that HTML is not auto-generated
  azure-pipelines-designer.yml
  src/orbital-designer/src/app/components/edit-scenario/key-value-list/key-value-list.component.spec.ts
Due: azure-pipelines-designer.yml

Revert disabling autogenerated code coverage in Azure
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

Add hotfix to close export-to-json modal when successful
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.html
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

Add HttpClientTestingModule to test imports to fix failing tests
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.spec.ts
  src/orbital-designer/src/app/services/orbial-server.service.spec.ts
  src/orbital-designer/src/app/services/orbial-server.service.ts
Due: azure-pipelines-designer.yml

code cleanup
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

end of day push
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

Add server-level CORS allow-all rules and remove conflicting imports in app.module
  src/Orbital.Mock.Server/Startup.cs
  src/orbital-designer/src/app/app.module.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Fix typo (orbial->orbital)
  src/orbital-designer/src/app/services/orbital-server.service.spec.ts
  src/orbital-designer/src/app/services/orbital-server.service.ts
Due: azure-pipelines-designer.yml

Add intermediatery cors bypass
  src/Orbital.Mock.Server/Models/MockResponse.cs
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.html
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml, azure-pipelines.yml

Add error-handler template to export-to-server button
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

Always choose the first scenario if there are multiple valid options
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
Due: azure-pipelines.yml

Log a warning if multiple valid scenarios were found
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
Due: azure-pipelines.yml

Refactor pipeline validity checker to new method in FaultableBaseFilter
  src/Orbital.Mock.Server/Pipelines/Filters/Bases/FaultableBaseFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/BodyMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/EndpointMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/HeaderMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/PathValidationFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/QueryMatchFilter.cs
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
Due: azure-pipelines.yml

Set randomizer seed to a constant in tests (#813)
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/BodyMatchFilterTest.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/EndpointMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/FilterTestHelpers.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/HeaderMatchFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/PathValidationFilterTest.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/Filters/ResponseSelectorFilterTests.cs
  tests/Orbital.Mock.Server.Tests/Pipelines/MockServerProcessorTests.cs
Due: azure-pipelines.yml

Simplify Logger method access in ResponseSelectorFilter
  src/Orbital.Mock.Server/Pipelines/Filters/ResponseSelectorFilter.cs
Due: azure-pipelines.yml

git checkin
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.spec.ts
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.ts
Due: azure-pipelines-designer.yml

updated tests for exporting mock definition
  src/orbital-designer/src/app/components/endpoint-overview/endpoint-overview.component.spec.ts
  src/orbital-designer/src/test-files/test-mockdefinition-object.ts
Due: azure-pipelines-designer.yml

finished migration
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/app.component.html
  src/orbital-designer/src/app/app.component.spec.ts
  src/orbital-designer/src/app/services/overview-redirect.service.spec.ts
  src/orbital-designer/src/app/services/overview-redirect.service.ts
  src/orbital-designer/src/app/store/app-store.spec.ts
  src/orbital-designer/src/app/store/app-store.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
  src/orbital-designer/src/app/store/designer-store.ts
  src/orbital-designer/src/app/store/endpoints-store.spec.ts
  src/orbital-designer/src/app/store/endpoints-store.ts
  src/orbital-designer/src/app/store/mockdefinitionstore.spec.ts
  src/orbital-designer/src/app/store/mockdefinitionstore.ts
Due: azure-pipelines-designer.yml

fixed build issues
  src/orbital-designer/package-lock.json
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/services/overview-redirect.service.spec.ts
  src/orbital-designer/src/app/services/overview-redirect.service.ts
  src/orbital-designer/src/app/store/designer-store.spec.ts
  src/orbital-designer/src/app/store/designer-store.ts
Due: azure-pipelines-designer.yml

added puppeteer
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

added karma-junit-reporter
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

copied e2e files over
  src/orbital-designer/e2e/protractor.conf.js
  src/orbital-designer/e2e/src/app.e2e-spec.ts
  src/orbital-designer/e2e/src/app.po.ts
Due: azure-pipelines-designer.yml

installed jasmine-reporters
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

end of day
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
  src/orbital-designer/src/app/app-routing.module.ts
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.html
  src/orbital-designer/src/app/components/home-view/home-view.component.scss
  src/orbital-designer/src/app/components/home-view/home-view.component.spec.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.ts
  src/orbital-designer/src/index.html
  src/orbital-designer/src/styles.scss
Due: azure-pipelines-designer.yml

created homepage view and navigation logic
  src/orbital-designer/src/app/app.component.html
  src/orbital-designer/src/app/app.component.scss
  src/orbital-designer/src/app/components/home-view/home-view.component.html
  src/orbital-designer/src/app/components/home-view/home-view.component.scss
  src/orbital-designer/src/app/components/home-view/home-view.component.ts
Due: azure-pipelines-designer.yml

added tests
  src/orbital-designer/src/app/components/home-view/home-view.component.html
  src/orbital-designer/src/app/components/home-view/home-view.component.spec.ts
Due: azure-pipelines-designer.yml

created layout
  src/orbital-designer/src/app/app-routing.module.ts
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.html
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.scss
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.html
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.html
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.scss
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.ts
  src/orbital-designer/src/app/components/orbital-common/orbital-common.module.ts
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.html
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.scss
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.ts
  src/orbital-designer/src/styles.scss
Due: azure-pipelines-designer.yml

all hands commit
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.html
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.scss
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.html
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.scss
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.ts
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.html
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.scss
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.ts
  src/orbital-designer/src/styles.scss
Due: azure-pipelines-designer.yml

added test for file-input component
  src/orbital-designer/src/app/app.module.ts
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.html
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.spec.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.html
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.spec.ts
  src/orbital-designer/src/app/components/orbital-common/file-input/file-input.component.ts
  src/orbital-designer/src/app/components/orbital-common/orbital-common.module.ts
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.html
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.spec.ts
Due: azure-pipelines-designer.yml

css changes and others
  src/orbital-designer/src/app/app.component.html
  src/orbital-designer/src/app/app.component.scss
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.html
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.scss
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/components/home-view/home-view.component.scss
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.html
Due: azure-pipelines-designer.yml

small commit
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
Due: azure-pipelines-designer.yml

updated errorMessages
  src/orbital-designer/src/app/components/create-new-mock-view/create-new-mock-view.component.ts
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.html
Due: azure-pipelines-designer.yml

reverted text input html
  src/orbital-designer/src/app/components/orbital-common/text-input/text-input.component.html
Due: azure-pipelines-designer.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml
