Repository FociSolutions/Orbital: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-designer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-designer.yml: any of: src/orbital-designer, azure-pipelines-designer.yml
  azure-pipelines.yml: any file but: src/orbital-designer, azure-pipelines-designer.yml

adding scripts publish to pr pipeline, updating display names
  azure-pipelines-designer.yml
  azure-pipelines-pr.yml
  azure-pipelines.yml
Due: azure-pipelines-designer.yml, azure-pipelines.yml

modifying copy task
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

yaml syntax
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

trying to eliminate warning in build pipeline
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

small changes
  azure-pipelines-designer.yml
  azure-pipelines-pr.yml
Due: azure-pipelines-designer.yml, azure-pipelines.yml

spelling
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

job names
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

trying without containers again
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

syntax
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

fixing pr pipelie
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

Help I need circle ci
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

Trying parallel stages
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

adding steps
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

trying to get rid of puppeteer
  azure-pipelines-designer.yml
  src/orbital-designer/karma.ci.conf.js
  src/orbital-designer/package-lock.json
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml

stack overflow https://stackoverflow.com/questions/54479666/docker-error-useradd-cannot-lock-etc-passwd
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

trying angular
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

trying stuff
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

trying selenium container
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

do quotes fix it?
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

trying to fix things up
  azure-pipelines-designer.yml
  docker/designer/Dockerfile
  src/orbital-designer/e2e/protractor.conf.js
Due: azure-pipelines-designer.yml, azure-pipelines.yml

adding pools to jobs
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

adding pool to job
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

targetFolder
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

job name can't have spaces???
  azure-pipelines-designer.yml
Due: azure-pipelines-designer.yml

Adding prod to dockerfile; spelling mistakes
  azure-pipelines-pr.yml
  docker/designer/Dockerfile
  src/orbital-designer/package.json
Due: azure-pipelines-designer.yml, azure-pipelines.yml

osx fix
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

adding selective artificate downloads
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

trying to add deployment to dev
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

adding artifact names
  azure-pipelines-pr.yml
  docker/designer/Dockerfile
Due: azure-pipelines.yml

adding npm ci and target folder for script copy
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

updaing copy and publish to use shortcut
  azure-pipelines-pr.yml
Due: azure-pipelines.yml

trying to add secretes and script variables
  azure-pipelines-pr.yml
Due: azure-pipelines.yml
